html,
body {
  height: 100%;
  font-family: open sans, sans-serif;
  overflow-x: hidden;
}
#mainMenu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
}
#mainMenu li {
  display: inline-block;
  float: left;
  list-style: none;
  margin: 15px;
  margin-top: 0;
}
#mainMenu li a {
  color: #aeaeae;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#mainMenu li a:hover {
  color: #000;
}
.section {
  margin: 0;
  padding: 0;
}
.section h2 {
  font-size: 36px;
}
.section-main {
  height: 700px;
  background: #ebebeb url(../img/bg2.jpg) no-repeat center center;
  margin: 0;
}
.section-main .line {
  width: 457px;
  height: 2px;
  background: #fff;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 15px;
}
.section-main .main-head {
  text-transform: uppercase;
  font-size: 42px;
  line-height: 1;
  font-family: open sans;
  margin: 0;
  color: #fff;
  padding-top: 250px;
}
.section-main .main-desk {
  color: #fff;
  font-size: 24px;
  font-family: open sans;
}
.section-main .fa-chevron-down {
  color: #fff;
  margin-top: 200px;
  font-size: 25px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.section-main .fa-chevron-down:hover {
  font-size: 28px;
}
.section-portfolio {
  margin-top: 15px;
}
.section-portfolio .main-head {
  font-family: open sans;
  color: #333;
  margin: 80px 0;
}
.section-portfolio-block {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.section-portfolio-block .work-box {
  position: relative;
  text-align: center;
  margin: 10px;
}
.section-portfolio-block .work-box .work-img {
  -webkit-box-shadow: 2px 4px 10px 0px rgba(87, 92, 97, 0.54);
  box-shadow: 2px 4px 10px 0px rgba(87, 92, 97, 0.54);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.section-portfolio-block .work-box .work-img:hover {
  -webkit-box-shadow: 2px 4px 29px 0px rgba(87, 92, 97, 0.54);
  box-shadow: 2px 4px 29px 0px rgba(87, 92, 97, 0.54);
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  transform: scale(1.03);
}
.section-portfolio-block .work-box .work-img img {
  width: 100%;
}
.section-portfolio-block .work-box .signature {
  margin-top: 10px;
  text-align: center;
  color: #555;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}
.section-portfolio-block .work-box .signature:hover {
  opacity: 1;
}
.section-portfolio-block .work-box .signature .sign .button-link {
  display: inline-block;
  background: none;
  outline: none;
  padding: 10px 20px;
}
.section-portfolio-block .work-box .signature .sign .button-link a {
  color: #555;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.section-portfolio-block .work-box .signature .sign .button-link a:hover {
  border-bottom: 1px solid #555;
}
.section-portfolio-block .work-box .signature .sign p {
  margin-top: 5px;
  font-size: 12px;
}
.section-skills .main-head {
  margin: 60px 0;
}
.section-skills-blocks .skill-head h3 {
  font-size: 24px;
}
.section-skills-blocks .skill-line {
  margin: 10px 0;
  height: 60px;
  background: #c1c1c0;
}
.section-skills-blocks .skill-line-active-1,
.section-skills-blocks .skill-line-active-2,
.section-skills-blocks .skill-line-active-3,
.section-skills-blocks .skill-line-active-4,
.section-skills-blocks .skill-line-active-5,
.section-skills-blocks .skill-line-active-6,
.section-skills-blocks .skill-line-active-7,
.section-skills-blocks .skill-line-active-8,
.section-skills-blocks .skill-line-active-9,
.section-skills-blocks .skill-line-active-10,
.section-skills-blocks .skill-line-active-11 {
  background: #1d2332;
  width: 90%;
  height: 60px;
}
.section-skills-blocks .skill-line-active-2 {
  width: 80%;
}
.section-skills-blocks .skill-line-active-3 {
  width: 100%;
}
.section-skills-blocks .skill-line-active-4 {
  width: 30%;
}
.section-skills-blocks .skill-line-active-5 {
  width: 40%;
}
.section-skills-blocks .skill-line-active-6 {
  width: 45%;
}
.section-skills-blocks .skill-line-active-7 {
  width: 35%;
}
.section-skills-blocks .skill-line-active-8 {
  width: 85%;
}
.section-skills-blocks .skill-line-active-9 {
  width: 10%;
}
.section-skills-blocks .skill-line-active-10 {
  width: 15%;
}
.section-skills-blocks .skill-line-active-11 {
  width: 75%;
}
.section-skills-blocks .skill-line .skill-line:nth-child(1) {
  margin-top: 0;
}
.section-skills-blocks .skill-line .skill-line:last-child {
  margin-bottom: 0;
}
.section-documents {
  margin: 50px 0;
}
.section-documents .carousel-control {
  background-image: none;
}
.section-documents .carousel-control .glyphicon {
  color: #1d2332;
}
.section-about {
  margin-bottom: 100px;
}
.section-about .main-head {
  padding-top: 40px;
}
.section-about .about-photo {
  margin-top: 100px;
  width: 80%;
  padding-left: 20px;
  padding-top: 30px;
}
.section-about .about-photo img {
  width: 100%;
  box-shadow: -21px -21px 5px 0px #c1c1c0;
}
.section-about .about-text {
  margin-top: 120px;
  font-size: 20px;
}
.section-about .about-social img {
  margin-right: 25px;
  margin-top: 25px;
  width: 50px;
}
.section-about .about-social img img:last-child {
  margin-right: 0;
}
.section-footer {
  width: 100%;
  background: #1d2332;
}
.section-footer .footer-text {
  color: #fff;
  font-size: 18px;
  padding: 50px 0;
}
@media only screen and (max-width: 992px) {
  .section-about .about-photo {
    width: 98%;
  }
}
@media only screen and (max-width: 767px) {
  .section-about .about-photo {
    margin-top: 50px;
  }
  .section-about .about-text {
    font-size: 16px;
  }
}
@media only screen and (max-width: 650px) {
  .section-about .about-photo {
    width: 60%;
    display: inline-block;
  }
  .section-about .about-text {
    margin-top: 30px;
  }
  .section-about .col-xs-6 {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 540px) {
  .section-about .about-photo {
    width: 80%;
  }
}
@media only screen and (max-width: 480px) {
  .section h2 {
    font-size: 26px;
  }
  .section-main {
    height: 400px;
  }
  .section-main .main-head {
    font-size: 28px;
    padding-top: 100px;
  }
  .section-main .line {
    width: 70%;
  }
  .section-main .main-desk {
    font-size: 18px;
  }
  .section-main .fa-chevron-down {
    margin-top: 100px;
  }
  .section-portfolio .main-head {
    margin: 40px 0;
  }
}
