@font-face {
	font-family: 'Dited';
	src: url('../fonts/Dited.eot');
	src: url('../fonts/Dited.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Dited.woff2') format('woff2'),
		url('../fonts/Dited.woff') format('woff'),
		url('../fonts/Dited.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'a_CampusGrav';
	src: url('../fonts/ACampusGrav.eot');
	src: url('../fonts/ACampusGrav.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ACampusGrav.woff2') format('woff2'),
		url('../fonts/ACampusGrav.woff') format('woff'),
		url('../fonts/ACampusGrav.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenGost Type A TT';
	src: url('../fonts/OpenGostTypeATT-Regular.eot');
	src: url('../fonts/OpenGostTypeATT-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenGostTypeATT-Regular.woff2') format('woff2'),
		url('../fonts/OpenGostTypeATT-Regular.woff') format('woff'),
		url('../fonts/OpenGostTypeATT-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}