@font-face {
	font-family: 'Dited';
	src: url('../fonts/Dited.eot');
	src: url('../fonts/Dited.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Dited.woff2') format('woff2'),
		url('../fonts/Dited.woff') format('woff'),
		url('../fonts/Dited.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'stampbor_grunge_russianRg';
    src: url('../fonts/stampbor_grunge_russian-webfont.eot');
    src: url('../fonts/stampbor_grunge_russian-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stampbor_grunge_russian-webfont.woff2') format('woff2'),
         url('../fonts/stampbor_grunge_russian-webfont.woff') format('woff'),
         url('../fonts/stampbor_grunge_russian-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}