@font-face {
  font-family: 'TT Drugs';
  src: url('TTDrugs-Thin.eot');
  src: url('TTDrugs-Thin.eot?#iefix') format('embedded-opentype'), url('TTDrugs-Thin.woff2') format('woff2'), url('TTDrugs-Thin.woff') format('woff'), url('TTDrugs-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
body h2 {
  font-size: 36px;
  font-family: Palatino Linotype;
  color: #942728;
}
body a {
  color: #fff;
}
body a:hover {
  text-decoration: none;
  color: #fff;
}
body .button {
  text-transform: uppercase;
  padding: 15px 40px;
  font-size: 15px;
  border: none;
  outline: none;
  color: #fff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
body .button:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}
body .red {
  background: #ec633f;
  margin-right: 40px;
}
body .red:hover {
  background: #f9b271;
}
body .red-black {
  background: #942728;
  margin-right: 40px;
}
body .red-black:hover {
  background: #e20f00;
}
body .green {
  background: #82c12f;
}
body .green:hover {
  background: #bddb63;
}
header {
  padding-top: 50px;
  background: url(../img/bg.jpg) center -350px;
  height: 700px;
  font-family: 'Roboto', arial, sans-serif;
}
header .logo {
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
header .phone {
  margin-top: 25px;
}
header .phone p {
  font-size: 20px;
  color: #942728;
  font-family: Palatino Linotype;
}
header .main-head {
  margin-top: 2%;
  margin-left: 25%;
  width: 50%;
  font-family: Palatino Linotype;
  color: #942728;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
header .main-head h1 {
  font-size: 48px;
  padding-top: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
header .main-head h2 {
  font-size: 36px;
  margin-bottom: 30px;
}
header .main-head p {
  background: rgba(255, 255, 255, 0.4);
  padding-top: 30px;
  border-radius: 35px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  padding-bottom: 30px;
  color: #e20f00;
  margin-bottom: 30px;
}
header .buttons {
  text-align: center;
}
header .buttons .red {
  margin-right: 40px;
}
/* КТо ведет? */
.bg {
  background: url(../img/roza.jpg) center;
}
.bg-2 {
  background: url(../img/bg-2.jpg) no-repeat center;
  background-size: cover;
}
.trener {
  padding-top: 100px;
}
.trener .row:last-child {
  margin-top: 50px;
}
.trener-img {
  text-align: center;
  margin-top: 20px;
}
.trener-img img {
  width: 350px;
  height: 350px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.trener-img img:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  transform: scale(1.03);
}
.trener-text {
  background: rgba(151, 0, 38, 0.2);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  padding: 15px;
  margin-top: 40px;
  width: 90%;
  font-size: 16px;
  line-height: 1.8;
  font-family: 'TT Drugs', arial;
}
.trener-text p {
  color: #Fff;
}
.trener-text p b {
  color: #e20f00;
}
.trener-text a {
  color: #e20f00;
  font-size: 17px;
}
.trener .button {
  cursor: pointer;
  background: #ec633f;
}
.trener .button:hover {
  background: #f9b271;
}
.useful {
  margin-top: 100px;
  /* background: url(../img/roza.jpg) center bottom; */
  padding-bottom: 50px;
}
.useful h3 {
  color: #942728;
}
.useful img {
  margin-top: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  width: 70%;
  -webkit-box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.5);
}
.useful-block {
  position: relative;
  text-align: center;
  margin-top: 30px;
}
.useful-block:hover img {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
  -webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.5);
  box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.5);
}
.useful-block:hover .useful-text {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
  background: rgba(0, 0, 0, 0.9);
  margin-bottom: -1%;
}
.useful-text {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  opacity: 1;
  position: absolute;
  text-align: center;
  width: 70%;
  margin-left: 15%;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  padding: 5px 8px;
}
.useful-text p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #FEE;
  /* color: #E20F00; */
}
.reviews {
  /* background: #f0f0f0; */
  padding-bottom: 100px;
  margin-top: 50px;
}
.reviews .youtube {
  margin-top: 50px;
}
.blocking {
  height: 400px;
  background: url(../img/blocking.jpg) center;
  background-size: cover;
}
.blocking h2 {
  margin-top: 150px;
  margin-bottom: 30px;
}
.blocking .button {
  margin-top: 30px;
  background: #82c12f;
}
.blocking .button:hover {
  background: #bddb63;
}
.history {
  background: url(../img/roza.jpg) center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 50px;
}
.history h2 {
  background: rgba(219, 114, 114, 0.6);
  width: 70%;
  margin-left: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.history h2:hover {
  color: #fff;
  background: #db7272;
}
.history-img {
  text-align: center;
  margin-top: 50px;
}
.history-img img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.history-text {
  margin-top: 70px;
}
.history-text h3 {
  color: #942728;
}
.history-btn {
  margin-top: 30px;
}
.history-btn .button {
  background: #ec633f;
}
.history-btn .button:hover {
  background: #f9b271;
}
.practic {
  height: 1200px;
  padding-top: 280px;
  background: url(../img/practic-2.jpg) no-repeat center 0;
}
.practic-text {
  margin-top: 30px;
  width: 60%;
  margin-left: 20%;
  background: rgba(255, 255, 255, 0.6);
  padding: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
.practic-text ul {
  padding: 0;
  margin: 0;
}
.practic-text ul li {
  line-height: 1.8;
  margin: 5px;
  list-style-image: url(../img/check.png);
  list-style-position: inside;
  font-size: 18px;
}
.programm {
  margin-top: 100px;
  padding-bottom: 150px;
  background: url(../img/programm-max.jpg) no-repeat;
}
.programm-text {
  margin-top: 30px;
}
.programm-text ul {
  padding: 0;
  margin: 0;
  width: 70%;
  margin-left: 15%;
}
.programm-text ul li {
  font-size: 18px;
  padding: 20px;
  margin-bottom: 30px;
  list-style-position: inside;
  background: rgba(236, 99, 63, 0.7);
  color: #FEE;
  line-height: 1.3;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.programm-text ul li:hover {
  background: rgba(236, 99, 63, 0.9);
}
.programm-text ul li:first-child {
  list-style-image: url(../img/1.png);
  width: 70%;
}
.programm-text ul li:nth-child(2) {
  list-style-image: url(../img/2.png);
  width: 70%;
  margin-left: 30%;
}
.programm-text ul li:nth-child(3) {
  list-style-image: url(../img/3.png);
  width: 70%;
}
.programm-text ul li:nth-child(4) {
  list-style-image: url(../img/4.png);
  width: 70%;
  margin-left: 30%;
}
.programm-text ul li:nth-child(5) {
  list-style-image: url(../img/5.png);
  width: 70%;
}
.programm-text ul li:last-child {
  list-style-image: url(../img/6.png);
  width: 70%;
  margin-left: 30%;
}
.programm-btn {
  margin-top: 20px;
}
.place {
  padding-top: 50px;
  padding-bottom: 100px;
}
.place h2:first-child {
  color: #fff;
  background: rgba(219, 114, 114, 0.7);
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.place h2:first-child:hover {
  color: #fff;
  background: #db7272;
}
.place-block {
  height: 450px;
  margin-top: 70px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  font-family: Palatino Linotype;
  color: #942728;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  box-shadow: -5px 10px 10px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -5px 10px 10px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
}
.place-block h3 {
  font-size: 28px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.place-block h4 {
  font-size: 28px;
  margin-bottom: 30px;
}
.place-block h2 {
  font-size: 30px;
  color: #fff;
}
.place-block h5 {
  font-size: 26px;
  margin-bottom: 30px;
}
.place-block p {
  margin-top: 30px;
  font-size: 20px;
  line-height: 2;
}
.price {
  height: 600px;
  padding-bottom: 100px;
}
.price h2 {
  width: 70%;
  margin-left: 15%;
  color: #fff;
  background: rgba(219, 114, 114, 0.7);
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.price h2:hover {
  background: #db7272;
}
#modal-1 .modal-dialog .modal-content {
  width: 100%;
}
#modal-1 .modal-dialog .modal-content .modal-header {
  border: none;
  text-align: center;
}
#modal-1 .modal-dialog .modal-content .modal-header h4 {
  color: #942728;
  font-family: Palatino;
  font-size: 22px;
}
#modal-1 .modal-dialog .modal-content .modal-body p {
  padding: 20px 40px;
  color: #942728;
}
#modal-1 .modal-dialog .modal-content a {
  text-decoration: none;
}
#modal-1 .modal-dialog .modal-content a:hover p {
  color: #FF3939;
}
#modal-1 .modal-dialog .modal-content .modal-footer {
  text-align: center;
  border-top: 1px solid #942728;
  background: #EC633F;
  text-decoration: none;
}
#modal-1 .modal-dialog .modal-content .modal-footer:hover {
  background: #EC633F;
}
#modal-1 .modal-dialog .modal-content .modal-footer p {
  font-size: 20px;
  color: #fff;
}
