.clearfix {
  clear: both;
}
.heavy {
  font-family: 'Uni Sans Heavy CAPS', sans-serif;
}
.thin {
  font-family: 'Uni Sans Thin CAPS';
}
.opensans {
  font-family: 'Open Sans', sans-serif;
}
.roboto {
  font-family: 'Roboto', sans-serif;
}
.head-h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.head-h2 h2 {
  font-weight: bold;
  font-size: 42px;
  font-family: 'Uni Sans Heavy CAPS', sans-serif;
  color: #4b4a4a;
}
.head-h2 span {
  font-weight: bold;
  color: #f53030;
}
.red-bg {
  background: #f53030;
  font-weight: bold;
}
.red {
  color: #f53030;
}
.form button {
  margin: 0;
  width: 340px;
  outline: none;
  padding: 14px 25px 16px 25px;
  font-weight: bold;
  font-size: 28px;
  line-height: 1;
  text-transform: uppercase;
  background: #ffef1b;
  border: 3px solid #fecc0c;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.form button:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  transform: scale(1.03);
  background: #fffbc4;
}
.form-input {
  display: inline-block;
  margin-right: 30px;
  position: relative;
}
.form-input-img {
  position: absolute;
  height: 60px;
  width: 60px;
  padding-top: 15px;
  background: #fecc0c;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
}
.form input {
  width: 340px;
  height: 60px;
  padding: 0;
  padding-left: 70px;
  padding-right: 10px;
  outline: none;
  border: 3px solid #fecc0c;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #151515;
}
::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #151515;
}
::-moz-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #151515;
}
:-moz-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #151515;
}
::-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #151515;
}
/* Шрифты */
@font-face {
  font-family: 'Uni Sans Thin CAPS';
  src: url('UniSansThinCAPS.eot');
  src: url('UniSansThinCAPS.eot?#iefix') format('embedded-opentype'), url('UniSansThinCAPS.woff2') format('woff2'), url('UniSansThinCAPS.woff') format('woff'), url('UniSansThinCAPS.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Uni Sans Heavy CAPS';
  src: url('UniSansHeavyCAPS.eot');
  src: url('UniSansHeavyCAPS.eot?#iefix') format('embedded-opentype'), url('UniSansHeavyCAPS.woff2') format('woff2'), url('UniSansHeavyCAPS.woff') format('woff'), url('UniSansHeavyCAPS.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

header .logo {
  margin-top: 22px;
  float: left;
}
header .logo img {
  width: 100%;
}
header .three-blocks {
  margin-top: 32px;
  display: inline-block;
}
header .three-blocks a {
  color: #080808;
}
header .three-blocks h3 {
  text-transform: uppercase;
  font-family: 'Roboto Condensed';
  font-size: 14px;
}
header .three-blocks .one {
  margin-left: 35px;
  width: 75px;
  float: left;
  margin-right: 50px;
}
header .three-blocks .two {
  width: 75px;
  float: left;
  margin-right: 50px;
}
header .three-blocks .three {
  width: 75px;
  float: left;
}
header .number {
  display: inline-block;
  float: right;
  margin-top: 25px;
}
header .number p {
  padding: 0;
  margin: 0;
  font-family: open sans;
  /* font-family: 'Uni Sans Heavy CAPS'; */
  font-weight: bold;
  font-size: 40px;
}
header .number p span {
  font-size: 34px;
  color: #fecc0c;
  letter-spacing: -1px;
}
header .number a {
  text-decoration: none;
  color: #706a6a;
  cursor: pointer;
}
header .number h2 {
  color: #706a6a;
  font-family: open sans;
  /* font-family: 'Uni Sans Heavy CAPS'; */
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  float: right;
  margin-top: 3px;
}
/* Навигация */
.navigation {
  background: #fed72b;
  background: linear-gradient(to bottom, #ffeb6c, #fed01e);
  padding-top: 31px;
  padding-bottom: 22px;
}
.navigation nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.navigation nav ul li {
  float: left;
  padding: 0 15px;
  border-right: 1px solid #000;
  border-left: 1px solid #534D1E;
}
.navigation nav ul li:first-child {
  border-left: none;
  padding-left: 0;
}
.navigation nav ul li:last-child {
  border-right: none;
  padding-right: 0;
}
.navigation nav ul li a {
  text-transform: uppercase;
  color: #000;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.toggle-menu {
  display: none;
  position: absolute;
  left: 20px;
  top: 20px;
  /* активное состояние, т.е. меню открыто */
}
.toggle-menu .cmn-toggle-switch {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
.toggle-menu .cmn-toggle-switch:focus {
  outline: none;
}
.toggle-menu .cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 25px;
  left: 10px;
  right: 10px;
  height: 3px;
  background: white;
}
.toggle-menu .cmn-toggle-switch span::before,
.toggle-menu .cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: "";
}
.toggle-menu .cmn-toggle-switch span::before {
  top: 12px;
}
.toggle-menu .cmn-toggle-switch span::after {
  bottom: 12px;
}
.toggle-menu .cmn-toggle-switch__htx {
  background-color: #DCBB0C;
}
.toggle-menu .cmn-toggle-switch__htx span {
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.toggle-menu .cmn-toggle-switch__htx span::before,
.toggle-menu .cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.2s, 0.2s;
  transition-duration: 0.2s, 0.2s;
  -webkit-transition-delay: 0.2s, 0;
  transition-delay: 0.2s, 0;
}
.toggle-menu .cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}
.toggle-menu .cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}
.toggle-menu .cmn-toggle-switch__htx.active {
  background-color: #DCBB0C;
}
.toggle-menu .cmn-toggle-switch__htx.active span {
  background: none;
}
.toggle-menu .cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.toggle-menu .cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.toggle-nav {
  position: absolute;
  background: #fed72b;
  background: linear-gradient(to bottom, #ffeb6c, #fed01e);
  z-index: 99;
  top: 20px;
  left: 75px;
  margin-right: 20px;
  display: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.toggle-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.toggle-nav ul li {
  position: relative;
  z-index: 99;
  float: left;
  width: 40%;
  padding: 5px;
  margin: 5px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
.toggle-nav ul li:hover {
  background: #DCBB0C;
}
.toggle-nav ul li a {
  text-transform: uppercase;
  color: #000;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
#menu.top-fixed {
  position: fixed;
  top: 0;
  left: 0px;
  z-index: 99;
  width: 100%;
  height: 35px;
}
/* Главная */
.main {
  background: url(../img/bg.png) no-repeat right;
  padding-bottom: 40px;
}
.main-block {
  float: left;
  width: 370px;
  margin-right: 100px;
}
.main-head {
  padding-top: 10px;
}
.main-head h1 {
  font-family: 'Roboto Black';
  color: #000;
  font-size: 46px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.main-head h2 {
  font-family: 'Roboto Black';
  color: #000;
  font-size: 42px;
  text-transform: uppercase;
  margin-top: 0;
}
.main-head h2 span {
  color: #ff0000;
}
.main-img {
  padding-top: 20px;
  display: inline-block;
  width: 275px;
}
.main-form {
  width: 342px;
}
.main-form-head {
  height: 70px;
  background: #333333;
}
.main-form-head p {
  text-transform: uppercase;
  color: #fff;
  padding-left: 20px;
  padding-top: 15px;
}
.main-form-head p i {
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
}
.main-form-head p span {
  font-family: 'Uni Sans Heavy CAPS';
  font-size: 31px;
  position: relative;
  margin-left: 10px;
  font-weight: bold;
}
.main-form-head p span img {
  position: absolute;
  left: 0;
  bottom: 0;
}
.main-form-middle {
  height: 190px;
  background: #ffe80f;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto';
}
.main-form-middle h2 {
  padding-top: 26px;
  color: #333333;
  margin-top: 0;
  font-size: 29px;
}
.main-form-middle p {
  line-height: 1;
  color: #333;
  font-size: 83px;
}
.main-form-middle p span {
  font-size: 37px;
  font-weight: bold;
}
.main-form a {
  text-decoration: none;
  outline: none;
}
.main-form-bottom {
  outline: none;
  position: relative;
  margin-top: -35px;
  margin-left: 28px;
  height: 95px;
  width: 285px;
  background: #fb5555;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.main-form-bottom:hover {
  background: #f53030;
}
.main-form-bottom:hover .red-bg {
  background: #fb5555;
}
.main-form-bottom h2 {
  margin: 0;
  padding-top: 10px;
  font-size: 38px;
}
.main-form-bottom .red-bg {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 43px;
  -webkit-border-bottom-right-radius: 25px;
  -moz-border-bottom-right-radius: 25px;
  -ms-border-bottom-right-radius: 25px;
  -o-border-bottom-right-radius: 25px;
  border-bottom-right-radius: 25px;
  -webkit-border-bottom-left-radius: 25px;
  -moz-border-bottom-left-radius: 25px;
  -ms-border-bottom-left-radius: 25px;
  -o-border-bottom-left-radius: 25px;
  border-bottom-left-radius: 25px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.main-form-bottom .red-bg p {
  padding-top: 6px;
  font-size: 19px;
}
/* Описание */
.desk {
  padding-top: 15px;
}
.desk-head2 {
  text-align: center;
}
.desk-head2 h2 {
  margin-top: 0;
  font-size: 28px;
  color: #040404;
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'Uni Sans Thin CAPS';
}
.desk-deskription {
  text-align: center;
  padding-top: 10px;
}
.desk-deskription p {
  font-size: 18px;
}
/* Распродажа */
.sale {
  height: 470px;
  background: #333333;
  margin-top: 15px;
}
.sale-head h2 {
  margin: 0;
  padding-top: 50px;
  text-align: center;
  color: #fecc0c;
  font-size: 59px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Uni Sans Heavy CAPS', sans-serif;
}
.sale-taimer {
  margin: 50px 0 80px 0;
  height: 100px;
}
.sale-taimer-text {
  text-align: center;
  color: #fff;
  font-size: 22px;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
}
.sale-taimer-text span {
  width: 100px;
  display: inline-block;
  margin-right: 60px;
}
.sale-taimer-text .hour {
  margin-right: 70px;
}
.sale-taimer-text .minuts {
  margin-right: 85px;
}
.sale-taimer-text .second {
  margin-right: 30px;
}
/* Низкие цены на окна */
.price {
  padding-top: 20px;
}
.price-blocks {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
.price-blocks-block {
  margin-right: 70px;
}
.price-blocks-block:nth-child(2) .block-price,
.price-blocks-block:nth-child(2) .block-form {
  margin-left: 60px;
}
.price-blocks-block:last-child {
  margin-right: 0;
}
.price-blocks-block:last-child .block-price,
.price-blocks-block:last-child .block-form {
  margin-left: 30px;
}
.price-blocks-block .block-head {
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
}
.price-blocks-block .block-head h3 {
  color: #040404;
  font-family: 'Roboto Condensed', sans-serif;
}
.price-blocks-block .block-head h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.price-blocks-block .block-img {
  height: 256px;
  position: relative;
}
.price-blocks-block .block-img .strike {
  position: absolute;
  bottom: 36px;
  right: -25px;
  background: #f53030;
  text-align: center;
  padding: 10px;
}
.price-blocks-block .block-img .strike span {
  line-height: 1;
  font-family: 'Uni Sans Heavy CAPS', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  position: relative;
}
.price-blocks-block .block-img .strike img {
  position: absolute;
  right: 10px;
  bottom: -5px;
}
.price-blocks-block .block-text {
  position: relative;
  padding-top: 30px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.price-blocks-block .block-price {
  position: relative;
  width: 256px;
  height: 60px;
  color: #ffef1b;
  background: #ffef1b;
  padding-top: 15px;
}
.price-blocks-block .block-price p {
  padding: 0;
  margin: 0;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #000;
  font-family: 'Uni Sans Heavy CAPS', sans-serif;
}
.price-blocks-block .block-price p span {
  color: #f53030;
}
.price-blocks-block .block-form {
  width: 256px;
  text-align: center;
}
.price-blocks-block .block-form input {
  margin-top: 23px;
  height: 33px;
  width: 124px;
  border: 1px solid #717171;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #151515;
  outline: none;
  padding-right: 10px;
}
.price-blocks-block .block-form input [placeholder] {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #151515;
}
.price-blocks-block .block-form .wh {
  height: 60px;
}
.price-blocks-block .block-form .width {
  width: 124px;
  position: relative;
  float: left;
  margin-right: 8px;
}
.price-blocks-block .block-form .width img {
  position: absolute;
  bottom: 12px;
  left: 5px;
}
.price-blocks-block .block-form .width input {
  padding-left: 30px;
}
.price-blocks-block .block-form .height {
  width: 124px;
  position: relative;
  float: left;
}
.price-blocks-block .block-form .height img {
  position: absolute;
  bottom: 5px;
  left: 10px;
}
.price-blocks-block .block-form .height input {
  padding-left: 25px;
}
.price-blocks-block .block-form .number {
  position: relative;
  width: 256px;
}
.price-blocks-block .block-form .number input {
  margin-top: 15px;
  width: 256px;
  padding-left: 80px;
}
.price-blocks-block .block-form .number img {
  position: absolute;
  bottom: 6px;
  left: 8px;
}
.price-blocks-block .block-form button {
  font-family: 'Uni Sans Heavy CAPS', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  padding: 15px 42px;
  margin-top: 10px;
  border: none;
  outline: none;
  background: #f53030;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.price-blocks-block .block-form button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  background: #fa5959;
}
/* Рассрочка */
.rasrochka {
  padding-top: 50px;
}
.rasrochka-block {
  position: relative;
  margin-top: 40px;
  height: 452px;
  width: 52%;
  float: left;
  padding-top: 20px;
  background: url(../img/bg-2.jpg) no-repeat left;
}
.rasrochka-block-text {
  text-align: center;
}
.rasrochka-block-text h2 {
  color: #f53030;
  font-family: 'Uni Sans Heavy CAPS', sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 5px;
}
.rasrochka-block-pig {
  position: absolute;
  bottom: 23px;
  right: 85px;
}
.rasrochka-form {
  position: relative;
  margin-top: 40px;
  float: left;
  width: 45%;
  height: 452px;
  margin-right: 3%;
  border: 3px solid #fecc0c;
}
.rasrochka-form-head {
  text-align: center;
  width: 100%;
  background: #fecc0c;
  padding-top: 25px;
}
.rasrochka-form-head h2 {
  color: #000;
  margin-top: 0px;
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  padding-bottom: 25px;
  font-family: 'Uni Sans Heavy CAPS', sans-serif;
}
.rasrochka-form-desk {
  text-align: center;
}
.rasrochka-form-desk h2 {
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
  color: #4f4d4d;
  line-height: 1.3;
  font-family: 'Uni Sans Heavy CAPS', sans-serif;
}
.rasrochka-form .form-inputs {
  text-align: center;
}
.rasrochka-form .form-input {
  margin-right: 0;
}
.rasrochka-form .form-input:first-child {
  margin-bottom: 25px;
}
.rasrochka-form .form button {
  background: #f53030;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  font-size: 36px;
  font-family: 'Uni Sans Heavy CAPS', sans-serif;
  padding: 22px 40px;
}
.rasrochka-form .form button:hover {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  background: #f36666;
}
/* Надежные оконные профили */
.profil {
  margin-top: 30px;
}
.profil-blocks {
  padding-top: 30px;
}
.profil-blocks-block {
  text-align: center;
}
.profil-blocks-block .block-img {
  width: 100%;
  height: 400px;
}
.profil-blocks-block .block-price {
  display: inline-block;
  width: 256px;
  height: 60px;
  color: #ffef1b;
  background: #ffef1b;
  padding-top: 15px;
}
.profil-blocks-block .block-price p {
  padding: 0;
  margin: 0;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #000;
  font-family: 'Uni Sans Heavy CAPS', sans-serif;
}
.profil-blocks-block .block-price p span {
  color: #f53030;
}
/* Ламинация */
.laminat {
  padding-top: 30px;
}
.laminat-slaider {
  margin-top: 50px;
}
.laminat-slaider .laminat-block {
  text-align: center;
}
.laminat-slaider .laminat-block .laminat-img {
  border: 1px solid #cccccc;
  padding: 5px;
}
.laminat-slaider .laminat-block .laminat-img img {
  width: 100%;
}
.laminat-slaider .laminat-block h3 {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #020202;
}
/* Наши преимущества */
.useful {
  padding-top: 30px;
}
.useful-content-block {
  height: 375px;
  margin-top: 50px;
  padding: 0 20px;
}
.useful-content-block .head-h3 {
  text-align: center;
  padding-bottom: 30px;
}
.useful-content-block .head-h3 h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Uni Sans Heavy CAPS', sans-serif;
  font-style: 22px;
  color: #4b4a4a;
}
.useful-content-block .block-img {
  text-align: center;
  padding-bottom: 30px;
  height: 110px;
}
.useful-content-block .block-text {
  margin-top: 20px;
}
.useful-content-block .block-text p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #4b4a4a;
  font-size: 15px;
}
.useful-five {
  margin-top: 30px;
}
.useful-five .head {
  text-align: center;
  margin-bottom: 60px;
}
.useful-five .head h2 {
  font-size: 32px;
  text-transform: uppercase;
  color: #4b4a4a;
  font-weight: bold;
  font-family: 'Uni Sans Heavy CAPS', sans-serif;
}
.useful-five .head h2 span {
  color: #fecc0c;
}
.useful-five .list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.useful-five .list ul h3 {
  font-family: 'Uni Sans Heavy CAPS', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #807f7c;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.useful-five .list ul h3 b {
  color: #000;
}
.useful-five .list ul p {
  color: #4b4a4a;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
/* Аксессуары */
.akses {
  background: url(../img/akses-bg.png);
  margin-top: 30px;
}
.akses .head-h2 {
  margin-top: 30px;
}
.akses .head-h2 h2 {
  margin-top: 0;
  color: #fff;
  margin-bottom: 0;
}
.akses-slider-block {
  outline: none;
  margin-top: 50px;
  text-align: center;
  padding-bottom: 50px;
}
.akses-slider-block img {
  display: inline-block;
  width: 222px;
  height: 222px;
  border: 6px solid #fecc0c;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.akses-slider-block h3 {
  font-family: 'Uni Sans Heavy CAPS', sans-serif;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 25px;
}
/* Наши работы */
.works {
  margin-top: 30px;
}
.works .head-h2 {
  margin-bottom: 30px;
}
.works .works-slider .work {
  width: 25%;
  float: left;
}
.works .works-slider .work img {
  width: 100%;
}
/* Отзывы клиентов */
.reviews {
  padding-top: 30px;
}
.reviews .head-h2 {
  padding-bottom: 30px;
}
.reviews-slider .review {
  outline: none;
}
.reviews-slider .review .col-sm-4 {
  text-align: center;
  outline: none;
}
.reviews-slider .review-img {
  display: inline-block;
  width: 292px;
  height: 292px;
  position: relative;
}
.reviews-slider .review-img img {
  width: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.reviews-slider .review-img .red-boll {
  position: absolute;
  height: 52px;
  width: 52px;
  bottom: 4px;
  right: 34px;
}
.reviews-slider .review-text {
  padding-right: 50px;
}
.reviews-slider .review-text h3 {
  color: #f53030;
  font-size: 22px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 30px;
}
.reviews-slider .review-text p {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #010101;
}
.reviews-slider2 {
  margin-top: 50px;
}
.reviews-slider2 .review-video {
  outline: none;
  text-align: center;
  position: relative;
}
.reviews-slider2 .review-video .video-img {
  width: 100%;
}
.reviews-slider2 .review-video a {
  outline: none;
  cursor: pointer;
}
.reviews-slider2 .review-video .playuser {
  outline: none;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
}
.reviews-slider2 .review-video .play {
  position: relative;
  top: -70px;
}
.reviews-slider2 .review-video .play img {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.reviews-slider2 .review-video .play img:hover {
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  -o-transform: scale(1.06);
  transform: scale(1.06);
}
.reviews-slider2 .review-video h3 {
  margin-top: 40px;
  text-align: center;
  color: #f53030;
  font-size: 22px;
  font-family: 'Roboto Condensed', sans-serif;
}
.reviews-slider2 .review-btn {
  text-align: center;
  margin-top: 30px;
}
.reviews-slider2 .review-btn a {
  width: 254px;
  height: 40px;
  background: #f53030;
  color: #fff;
  display: inline-block;
  padding: 12px 40px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Uni Sans Heavy CAPS', sans-serif;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.reviews-slider2 .review-btn a:hover {
  background: #fa6161;
}
/* Статьи про окна */
.articles {
  padding-top: 50px;
}
.articles .article {
  margin-top: 50px;
}
.articles .article-img {
  border-top: 3px solid #fecc0c;
  position: relative;
  width: 156px;
  float: left;
  display: inline-block;
}
.articles .article-img .date {
  background: #fecc0c;
  position: absolute;
  top: 0;
  left: 14px;
  text-align: center;
  width: 55px;
  height: 75px;
}
.articles .article-img .date p {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  color: #060606;
  margin-top: 3px;
}
.articles .article-img .date p span {
  font-size: 32px;
  line-height: 1;
}
.articles .article-text {
  margin-left: 20px;
  width: 379px;
  display: inline-block;
  float: right;
}
.articles .article-text h3 {
  font-size: 22px;
  color: #f53030;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
}
.articles .article-text p {
  font-family: 'Roboto', sans-serif;
  font-style: 15px;
  font-weight: 300;
  color: #010101;
}
.articles .article-text a {
  font-size: 15px;
  color: #f53030;
  font-family: 'Uni Sans Heavy CAPS', sans-serif;
  float: right;
  margin-top: 14px;
}
.articles .article-btn {
  text-align: center;
  margin-top: 40px;
}
.articles .article-btn a {
  width: 254px;
  height: 40px;
  background: #f53030;
  color: #fff;
  display: inline-block;
  padding: 12px 40px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Uni Sans Heavy CAPS', sans-serif;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.articles .article-btn a:hover {
  background: #fa6161;
}
/* Рассчитаем ваши окна */
.raschet {
  margin-top: 30px;
}
.raschet .head-h2 h2 {
  color: #f53030;
}
.raschet .form {
  margin-top: 40px;
  margin-bottom: 50px;
}
/* Подвал */
.footer {
  background: url(../img/footer-bg.png);
  padding-bottom: 30px;
}
.footer-number {
  padding-top: 23px;
}
.footer-number h3 {
  color: #fff;
  font-weight: bold;
  font-family: 'Uni Sans Heavy CAPS', sans-serif;
  font-size: 30px;
  margin-top: 0px;
}
.footer-number h3 span {
  font-size: 26px;
}
.footer-number p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #fbf4f4;
}
.footer-social {
  padding-top: 23px;
}
.footer-social p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #f1f4f8;
  margin-bottom: 0;
}
.footer-social ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-social ul li {
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #9f9f9f;
  width: 30px;
  height: 30px;
  margin: 0 3px;
  margin-top: 6px;
}
.footer-social ul li a {
  outline: none;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  color: #d3d1d1;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  text-align: center;
  padding-top: 3px;
  margin-top: 1px;
  margin-left: 1px;
}
.footer-social ul li a:hover {
  background: #fecc0c;
  color: #434343;
}
.footer-info {
  padding-top: 23px;
}
.footer-info p,
.footer-info a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #f1f4f8;
}
.footer-info img {
  display: inline-block;
  float: left;
  margin-right: 23px;
}
.footer-info i {
  color: #f9f7f4;
  margin-right: 15px;
  font-size: 20px;
}
.footer-work {
  padding-top: 23px;
}
.footer-work p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #f1f4f8;
  padding-left: 40px;
}
.footer-work img {
  display: inline-block;
  float: left;
  margin-top: 5px;
}
/* SLICK */
.slick-arrow {
  position: absolute;
  top: 20px;
  z-index: 1;
  font-size: 24px;
  width: 32px;
  height: 54px;
  display: inline-block !important;
  background: #827e7e;
  color: #fff;
  text-align: center;
  padding-top: 13px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
}
.slick-arrow:hover {
  background: #fecc0c;
  color: #070707;
}
.fa-angle-right {
  right: 0px;
}
.fa-angle-left {
  left: 0px;
}
.akses-right,
.akses-left {
  top: 136px;
}
.work-right,
.work-left {
  top: 70px;
}
.review-right,
.review-left {
  top: 127px;
}
.review2-right,
.review2-left {
  top: 108px;
}
.carousel-indicators {
  bottom: 0;
  list-style: none;
  text-align: center;
}
.carousel-indicators li.active {
  width: 19px;
  height: 19px;
  background: none;
  border: 4px solid #e30613;
  margin: 0 5px;
}
.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
  text-overflow: clip;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 19px;
  height: 19px;
  border: 4px solid #939491;
  outline: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.carousel-indicators li:hover,
.carousel-indicators li:active,
.carousel-indicators li:focus {
  border: 4px solid #e30613;
}
.slick-slide img {
  display: inline-block;
}
/* Modal Call */
#modal-call .modal-dialog {
  position: relative;
  width: 800px;
}
#modal-call .modal-content {
  text-align: center;
  background: none;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  width: 700px;
}
#modal-call .modal-header {
  border: none;
  color: #fff;
  padding-top: 30px;
}
#modal-call .modal-header .closes {
  width: 100%;
  text-align: right;
}
#modal-call .modal-header .closes a {
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
}
#modal-call .modal-header h2 {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 40px;
  font-family: 'Uni Sans Heavy CAPS', sans-serif;
}
#modal-call .modal-header p {
  width: 500px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
#modal-call .modal-btn-close {
  position: absolute;
  top: 0;
  right: 0;
}
#modal-call .modal-btn-close img {
  cursor: pointer;
}
#modal-call .modal-body {
  text-align: center;
}
#modal-call .modal-body form {
  text-align: center;
  width: 370px;
  display: inline-block;
  padding-bottom: 150px;
}
#modal-call .modal-body form input {
  width: 100%;
  height: 42px;
  border: 1px solid #030303;
  outline: none;
  padding: 0 20px;
  margin-bottom: 20px;
  color: #3c3c3c;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
#modal-call .modal-body form ::-webkit-input-placeholder {
  color: #3c3c3c;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
#modal-call .modal-body form ::-moz-placeholder {
  color: #3c3c3c;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
#modal-call .modal-body form :-moz-input-placeholder {
  color: #3c3c3c;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
#modal-call .modal-body form ::-ms-input-placeholder {
  color: #3c3c3c;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
#modal-call .modal-body form button {
  width: 100%;
  height: 60px;
  text-align: center;
  font-family: 'Uni Sans Heavy CAPS', sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #000;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  text-transform: uppercase;
  background: #fcbb01;
  border: 1px solid #030303;
}
#modal-call .modal-body form button:hover {
  background: #fbcf52;
}
#my-1 .modal-dialog,
#my-2 .modal-dialog,
#my-3 .modal-dialog,
#my-4 .modal-dialog,
#my-5 .modal-dialog,
#my-6 .modal-dialog {
  width: 70%;
}
#my-1 .modal-dialog .modal-content,
#my-2 .modal-dialog .modal-content,
#my-3 .modal-dialog .modal-content,
#my-4 .modal-dialog .modal-content,
#my-5 .modal-dialog .modal-content,
#my-6 .modal-dialog .modal-content {
  background: none;
  padding: 0;
  position: relative;
}
#my-1 .modal-dialog .modal-content .modal-body,
#my-2 .modal-dialog .modal-content .modal-body,
#my-3 .modal-dialog .modal-content .modal-body,
#my-4 .modal-dialog .modal-content .modal-body,
#my-5 .modal-dialog .modal-content .modal-body,
#my-6 .modal-dialog .modal-content .modal-body {
  background: none;
  padding: 0;
  width: 100%;
}
#my-1 .close,
#my-2 .close,
#my-3 .close,
#my-4 .close,
#my-5 .close,
#my-6 .close {
  font-size: 40px;
  position: absolute;
  top: 30px;
  right: 20px;
}
/* ---------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
  header .logo {
    width: 30%;
  }
  header .three-blocks .one {
    margin-right: 20px;
  }
  header .three-blocks .two {
    margin-right: 35px;
  }
  .navigation nav ul li {
    padding: 0 9px;
  }
  .navigation nav ul li a {
    font-size: 15px;
  }
  .sale-head h2 {
    font-size: 48px;
  }
  .sale,
  .raschet {
    height: 500px;
  }
  .sale .form,
  .raschet .form {
    text-align: center;
  }
  .sale .form .form-input2,
  .raschet .form .form-input2 {
    margin-right: 0;
  }
  .sale .form button,
  .raschet .form button {
    margin-top: 20px;
  }
  .raschet {
    height: auto;
  }
  .price-blocks-block:nth-child(2),
  .price-blocks-block:nth-child(3) {
    margin-right: 0;
  }
  .articles .article-text {
    display: block;
    float: right;
    width: 270px;
    margin-left: 0;
  }
  .laminat-left,
  .laminat-right {
    top: 8px;
  }
  .akses-left,
  .akses-right {
    top: 136px;
  }
  .work-left,
  .work-right {
    top: 60px;
  }
  .review2-right,
  .review2-left {
    top: 86px;
  }
  .useful-content-block {
    height: 475px;
  }
  .reviews-slider2 .review-video .playuser {
    top: 40%;
  }
  .reviews-slider2 .review-video .play {
    top: -40px;
  }
}
@media only screen and (max-width: 1040px) {
  .rasrochka-block-text h2 {
    font-size: 32px;
  }
  .rasrochka-form-desk h2 {
    font-size: 26px;
  }
}
@media only screen and (max-width: 992px) {
  header .logo {
    margin-top: 40px;
  }
  header .three-blocks {
    font-size: 12px;
  }
  header .three-blocks .one {
    margin-left: 15px;
    margin-right: 15px;
  }
  header .three-blocks .three {
    margin-right: 15px;
  }
  header .number {
    margin-top: 40px;
  }
  header .number p {
    font-size: 24px;
  }
  header .number p span {
    font-size: 20px;
  }
  header .number h2 {
    font-size: 19px;
  }
  .navigation {
    padding-top: 22px;
  }
  .navigation nav ul li {
    padding: 0 5px;
  }
  .navigation nav ul li a {
    font-size: 12px;
  }
  .main-block {
    margin-right: 0;
  }
  .main-img {
    float: right;
  }
  .head-h2 h2 {
    font-size: 36px;
  }
  .sale-head h2 {
    font-size: 40px;
  }
  .price-blocks-block {
    margin-right: 25px;
  }
  .articles .article-img {
    float: none;
  }
  .articles .article-text {
    display: inline-block;
    width: auto;
    width: 500px;
  }
  .laminat-left,
  .laminat-right {
    top: 30px;
  }
  .review2-right,
  .review2-left {
    top: 56px;
  }
  .useful-content-block {
    height: 375px;
  }
  .reviews-slider .col-md-4,
  .reviews-slider .col-md-8 {
    text-align: center;
  }
  .reviews-slider .review-text {
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .reviews-slider .review-text p {
    text-align: left;
  }
  .reviews-slider2 .review-video .playuser {
    top: 41%;
  }
  .reviews-slider2 .review-video .playuser img {
    width: 25%;
  }
  #modal-call .modal-dialog {
    width: 500px;
  }
  #modal-call .modal-content {
    width: 500px;
  }
  #modal-call .modal-header {
    padding-top: 40px;
  }
  #modal-call .modal-header h2 {
    line-height: 1;
    margin-top: 30px;
  }
  #modal-call .modal-header .closes {
    display: none;
  }
  #modal-call .modal-header p {
    margin-top: 10px;
    width: 100%;
  }
  #modal-call .modal-btn-close {
    top: 5px;
    right: 5px;
  }
  #modal-call .modal-btn-close img {
    width: 60px;
    height: 60px;
  }
}
@media only screen and (max-width: 873px) {
  .rasrochka-form-head h2 {
    font-size: 26px;
  }
  .rasrochka-form-desk h2 {
    font-size: 24px;
  }
  .rasrochka-form .form button {
    font-size: 23px;
  }
}
@media only screen and (max-width: 767px) {
  .navigation {
    height: 100px;
    position: relative;
  }
  .navigation nav {
    display: none;
  }
  .navigation .toggle-menu {
    display: block;
  }
  .navigation2 {
    display: none;
  }
  .sale,
  .raschet {
    height: auto;
    padding-bottom: 30px;
  }
  .sale-head h2,
  .raschet-head h2 {
    font-size: 48px;
  }
  .sale-taimer,
  .raschet-taimer {
    display: none;
  }
  .sale .form,
  .raschet .form {
    padding-top: 20px;
  }
  .raschet {
    height: auto;
    padding-bottom: 0;
  }
  .useful-content-block {
    height: auto;
  }
  .rasrochka-block {
    display: none;
  }
  .rasrochka-form {
    height: 430px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .footer-number {
    height: 100px;
  }
  .footer-social {
    height: 100px;
  }
  .footer-work {
    height: 100px;
  }
  .footer-info {
    height: 100px;
  }
  #my-1,
  #my-2,
  #my-3,
  #my-4,
  #my-5,
  #my-6 {
    text-align: center;
  }
  #my-1 .modal-dialog,
  #my-2 .modal-dialog,
  #my-3 .modal-dialog,
  #my-4 .modal-dialog,
  #my-5 .modal-dialog,
  #my-6 .modal-dialog {
    width: 90%;
    display: inline-block;
  }
  #modal-call {
    text-align: center;
  }
  #modal-call .modal-dialog {
    display: inline-block;
    width: 500px;
  }
  #modal-call .modal-content {
    width: 500px;
  }
  #modal-call .modal-header h2 {
    font-size: 36px;
  }
  #modal-call .modal-body form {
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 750px) {
  header .three-blocks h3 {
    font-size: 12px;
    margin-top: 10px;
  }
  header .three-blocks img {
    width: 50%;
  }
  header .three-blocks .one {
    margin-right: 0px;
  }
  header .three-blocks .two {
    margin-right: 10px;
  }
  header .three-blocks .two img {
    width: 30%;
  }
  header .three-blocks .three {
    margin-right: 5px;
  }
  header .three-blocks .three img {
    width: 40%;
  }
  header .number p {
    font-size: 20px;
  }
  header .number p span {
    font-size: 16px;
  }
  header .number h2 {
    font-size: 15px;
  }
  .navigation {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navigation nav ul {
    display: inline-block;
  }
  .navigation nav ul li {
    padding: 0 4px;
  }
  .navigation nav ul li a {
    font-size: 11px;
  }
  .main-block {
    width: 300px;
    text-align: center;
  }
  .main-block .main-head {
    text-align: center;
  }
  .main-block .main-head h1 {
    font-size: 32px;
    margin-top: 5px;
  }
  .main-block .main-head h2 {
    font-size: 29px;
  }
  .main-block .main-form {
    display: inline-block;
    width: 300px;
  }
  .main-block .main-form-head {
    height: 60px;
  }
  .main-block .main-form-head p {
    padding-left: 0;
    text-align: center;
  }
  .main-block .main-form-head p i {
    font-size: 15px;
  }
  .main-block .main-form-head p span {
    font-size: 24px;
  }
  .main-block .main-form-head p span img {
    width: 90%;
  }
  .main-block .main-form-middle {
    height: 154px;
  }
  .main-block .main-form-middle h2 {
    font-size: 20px;
    padding-top: 10px;
  }
  .main-block .main-form-middle p {
    padding-top: 10px;
    font-size: 50px;
  }
  .main-block .main-form-middle p span {
    font-size: 24px;
  }
  .main-block .main-form-bottom {
    width: 243px;
  }
  .main-block .main-form-bottom h2 {
    font-size: 25px;
  }
  .main-block .main-form-bottom p {
    font-size: 15px;
  }
  .main-img img {
    width: 70%;
  }
  .sale-head h2,
  .raschet-head h2 {
    font-size: 40px;
  }
  .sale-taimer,
  .raschet-taimer {
    display: none;
  }
  .sale .form,
  .raschet .form {
    padding-top: 20px;
  }
  .sale .form .form-input,
  .raschet .form .form-input {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .sale .form button,
  .raschet .form button {
    margin-top: 0;
  }
  .raschet {
    height: auto;
  }
}
@media only screen and (max-width: 730px) {
  .price-blocks-block {
    margin-right: 20px;
  }
  .price-blocks-block:nth-child(2),
  .price-blocks-block:nth-child(3) {
    margin-right: 0px;
  }
  .articles .article-img {
    float: none;
  }
  .articles .article-text {
    display: inline-block;
    width: auto;
    width: 400px;
  }
  .reviews-slider2 .review-video .playuser {
    top: 41%;
  }
  .reviews-slider2 .review-video .playuser img {
    width: 25%;
  }
  .reviews-slider2 .review-video .head h3 {
    margin-top: 50px;
  }
  .review2-right,
  .review2-left {
    top: 32%;
  }
}
@media only screen and (max-width: 681px) {
  .navigation {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
  }
  .navigation nav ul {
    display: inline-block;
  }
  .navigation nav ul li {
    float: none;
    display: inline-block;
    width: 45%;
    padding: 0 5px;
    border: none;
  }
  .navigation nav ul li:first-child,
  .navigation nav ul li:last-child {
    padding: 0 5px;
  }
  .navigation nav ul li a {
    font-size: 12px;
  }
  .laminat-left,
  .laminat-right {
    top: 20px;
  }
  .work-left,
  .work-right {
    top: 50px;
  }
}
@media only screen and (max-width: 665px) {
  .head-h2 h2 {
    font-size: 32px;
  }
  .desk-head2 h2 {
    font-size: 24px;
  }
  .review2-right,
  .review2-left {
    top: 30%;
  }
}
@media only screen and (max-width: 620px) {
  header .logo {
    width: 43%;
  }
  header .three-blocks {
    float: right;
  }
  header .number {
    margin-top: 0;
    width: 100%;
    text-align: center;
  }
  header .number h2 {
    float: none;
  }
  .price-blocks-block {
    margin-right: 0px;
  }
  .price-blocks-block:nth-child(2),
  .price-blocks-block:nth-child(3) {
    margin-right: 0px;
  }
}
@media only screen and (max-width: 605px) {
  .main-img {
    padding-top: 26px;
    width: 170px;
  }
  .main-img img {
    width: 100%;
  }
  .articles .article-img {
    float: none;
  }
  .articles .article-text {
    display: inline-block;
    width: auto;
    width: 350px;
  }
}
@media only screen and (max-width: 600px) {
  .work-left,
  .work-right {
    top: 35%;
  }
  .review2-right,
  .review2-left {
    top: 28%;
  }
  .footer-number {
    height: 150px;
  }
  .footer-number h3 {
    font-size: 26px;
  }
  .footer-number h3 span {
    font-size: 22px;
  }
  .footer-social {
    height: 150px;
  }
  .footer-work {
    height: 150px;
  }
  .footer-info {
    height: 150px;
  }
}
@media only screen and (max-width: 540px) {
  .rasrochka-form {
    height: 440px;
  }
  .articles .article-img {
    float: none;
  }
  .articles .article-text {
    display: inline-block;
    width: auto;
    width: 280px;
  }
  .toggle-nav ul li {
    width: 100%;
  }
}
@media only screen and (max-width: 520px) {
  .main {
    background-position: center;
    background-size: cover;
    text-align: center;
  }
  .main-block {
    display: inline-block;
    float: none;
  }
  .main-block .main-head h1 {
    font-size: 26px;
  }
  .main-block .main-head h2 {
    font-size: 24px;
  }
  .main-img {
    float: none;
    width: 100%;
    text-align: center;
  }
  .main-img img {
    display: inline-block;
    width: 30%;
    float: none;
  }
  .footer-number {
    height: 150px;
  }
  .footer-number h3 {
    font-size: 22px;
  }
  .footer-number h3 span {
    font-size: 18px;
  }
  .footer-social {
    height: 150px;
  }
  .footer-work {
    height: 150px;
  }
  .footer-info {
    height: 150px;
  }
  #modal-call {
    text-align: center;
  }
  #modal-call .modal-dialog {
    display: inline-block;
    width: 98%;
  }
  #modal-call .modal-content {
    width: 98%;
    margin: 1%;
  }
  #modal-call .modal-header h2 {
    font-size: 36px;
  }
}
@media only screen and (max-width: 480px) {
  header .logo {
    width: 60%;
    text-align: center;
    margin-left: 20%;
    margin-top: 10px;
  }
  header .three-blocks {
    margin-top: 10px;
    float: none;
    width: 100%;
  }
  header .three-blocks img {
    width: 60%;
  }
  header .three-blocks h3 {
    font-size: 13px;
  }
  header .three-blocks .one {
    float: none;
    display: inline-block;
  }
  header .three-blocks .two {
    display: inline-block;
    float: none;
  }
  header .three-blocks .two img {
    width: 40%;
  }
  header .three-blocks .three {
    float: none;
    display: inline-block;
  }
  header .three-blocks .three img {
    width: 50%;
  }
  header .number {
    margin-top: 0;
    width: 100%;
    text-align: center;
  }
  .head-h2 h2 {
    font-size: 28px;
  }
  .desk-head2 h2 {
    font-size: 18px;
  }
  .desk-deskription p {
    font-size: 14px;
  }
  .rasrochka-form {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .articles .article {
    height: 300px;
    margin-bottom: 20px;
    text-align: center;
  }
  .articles .article-img {
    float: none;
  }
  .articles .article-text {
    text-align: left;
    display: inline-block;
    width: auto;
  }
  .laminat-left,
  .laminat-right {
    top: 30%;
  }
  .work-left,
  .work-right {
    top: 40%;
  }
  .review2-right,
  .review2-left {
    top: 35%;
  }
  .reviews-slider2 .review-video .playuser {
    top: 49%;
  }
  .reviews-slider2 .review-video .playuser img {
    width: 20%;
  }
  .reviews-slider2 .review-video .play {
    top: -60px;
  }
}
@media only screen and (max-width: 420px) {
  #modal-call {
    text-align: center;
  }
  #modal-call .modal-dialog {
    display: inline-block;
    width: 98%;
  }
  #modal-call .modal-content {
    width: 98%;
    margin: 1%;
  }
  #modal-call .modal-header h2 {
    font-size: 32px;
  }
  #modal-call .modal-body form {
    width: 270px;
  }
  #modal-call .modal-body form button {
    font-size: 19px;
  }
}
@media only screen and (max-width: 400px) {
  .navigation nav ul li a {
    font-size: 11px;
  }
  .main-img img {
    width: 40%;
  }
  .sale,
  .raschet {
    height: 400px;
  }
  .sale-head h2,
  .raschet-head h2 {
    font-size: 28px;
  }
  .sale .form .form-input input,
  .raschet .form .form-input input {
    width: 280px;
  }
  .sale .form button,
  .raschet .form button {
    width: 280px;
    font-size: 21px;
  }
  .raschet {
    height: auto;
  }
  .rasrochka-form {
    height: 470px;
  }
  .rasrochka-form .form input {
    width: 280px;
  }
  .articles .article {
    height: 350px;
  }
}
@media only screen and (max-width: 320px) {
  .main-block {
    width: 100%;
  }
}
