@mixin box-shadow($value) {
	-webkit-box-shadow: $value;
	-moz-box-shadow: $value;
	box-shadow: $value;
}

%clearfix {
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}

@mixin inline-block($value: top) {
	display: inline-block;
	vertical-align: $value;
}