/* ----------------- Start styles------------------ */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: PT sans, sans-serif;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  cursor: pointer;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/* --------------------------Basic styles--------------------------------- */
.up {
  background: url(../img/versy.jpg) center top no-repeat;
  position: relative;
  z-index: 1;
}
.up_menu ul {
  margin-top: 19px;
}
.up_menu ul .active {
  border-bottom: 2px solid #fff;
}
.up_menu ul li {
  float: left;
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 18px;
  font-weight: bold;
}
.up_menu ul li:last-child {
  margin-right: 0;
}
.up_menu ul li a {
  color: #fff;
}
.up_contact {
  background: url(../img/bg_tel.png) no-repeat center;
  height: 87px;
}
.up_contact h2 {
  font-size: 23px;
  font-weight: bold;
  color: #343434;
  margin-left: 50px;
  margin-top: 19px;
}
.up_contact ul {
  margin-left: 25px;
  margin-top: 7px;
}
.up_contact ul li {
  float: left;
  color: #343434;
  font-size: 14px;
  margin-right: 10px;
}
.up_contact ul li a {
  color: #343434;
  font-weight: bold;
}
.up_contact ul li:last-child {
  margin-right: 0;
}
/* Гамбургер */
.toggle-menu {
  display: none;
  position: absolute;
  left: 23px;
  top: -64px;
  /* активное состояние, т.е. меню открыто */
}
.toggle-menu .cmn-toggle-switch {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}
.toggle-menu .cmn-toggle-switch:focus {
  outline: none;
}
.toggle-menu .cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 25px;
  left: 10px;
  right: 10px;
  height: 3px;
  background-color: #9C288C;
}
.toggle-menu .cmn-toggle-switch span::before,
.toggle-menu .cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #9C288C;
  content: "";
}
.toggle-menu .cmn-toggle-switch span::before {
  top: 12px;
}
.toggle-menu .cmn-toggle-switch span::after {
  bottom: 12px;
}
.toggle-menu .cmn-toggle-switch__htx {
  background: -webkit-gradient(linear, left bottom, left top, from(#c4c6e1), to(#eddef2));
  background: -webkit-linear-gradient(bottom, #c4c6e1, #eddef2);
  background: -o-linear-gradient(bottom, #c4c6e1, #eddef2);
  background: linear-gradient(to top, #c4c6e1, #eddef2);
}
.toggle-menu .cmn-toggle-switch__htx span {
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.toggle-menu .cmn-toggle-switch__htx span::before,
.toggle-menu .cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.2s, 0.2s;
  -o-transition-duration: 0.2s, 0.2s;
  transition-duration: 0.2s, 0.2s;
  -webkit-transition-delay: 0.2s, 0;
  -o-transition-delay: 0.2s, 0;
  transition-delay: 0.2s, 0;
}
.toggle-menu .cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  -o-transition-property: top, transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
}
.toggle-menu .cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, -webkit-transform;
  -o-transition-property: bottom, transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform;
}
.toggle-menu .cmn-toggle-switch__htx.active {
  background-color: #DCBB0C;
}
.toggle-menu .cmn-toggle-switch__htx.active span {
  background: none;
}
.toggle-menu .cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.toggle-menu .cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.toggle-nav {
  position: absolute;
  background: #C4C6E1;
  background: -webkit-gradient(linear, left bottom, left top, from(#c4c6e1), to(#eddef2));
  background: -webkit-linear-gradient(bottom, #c4c6e1, #eddef2);
  background: -o-linear-gradient(bottom, #c4c6e1, #eddef2);
  background: linear-gradient(to top, #c4c6e1, #eddef2);
  z-index: 99;
  top: -4px;
  left: 4px;
  display: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  border-radius: 7px;
}
.toggle-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.toggle-nav ul li {
  position: relative;
  z-index: 99;
  width: 100%;
  padding: 5px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  border-radius: 15px;
}
.toggle-nav ul li:hover a {
  color: #9B278C;
}
.toggle-nav ul li a {
  text-transform: uppercase;
  color: #5a5a5a;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
#menu.top-fixed {
  position: fixed;
  top: 0;
  left: 0px;
  z-index: 99;
  width: 100%;
  height: 35px;
}
.slider {
  -webkit-transform: translateY(-34px);
  -ms-transform: translateY(-34px);
  transform: translateY(-34px);
  position: relative;
}
.slider_slide .slide_img {
  text-align: center;
}
.slider_slide .slide_img img {
  display: inline-block;
}
.slider .slick-arrow {
  position: absolute;
  bottom: 30px;
}
.slider .leftnav {
  left: 185px;
}
.slider .rightnav {
  right: 185px;
}
.slider .carousel-indicators {
  bottom: 12px;
}
.slider .carousel-indicators li {
  width: 14px;
  height: 14px;
  border-color: #9b258b;
  margin: 0;
  margin-right: 13px;
}
.slider .carousel-indicators li:last-child {
  margin-right: 0;
}
.slider .carousel-indicators .active {
  background-color: #9b258b;
  margin-right: 13px;
}
.list {
  background: url(../img/Feather_Short.png) center no-repeat;
  height: 237px;
  margin-top: -34px;
}
.list_host {
  height: 144px;
  background: url(../img/LinkPadBase.png) center -4px no-repeat;
  text-align: center;
}
.list_host ul {
  width: 1030px;
  display: inline-block;
}
.list_host ul li {
  text-align: left;
  float: left;
  width: 33%;
  text-indent: 19px;
  padding-top: 10px;
}
.list_host ul li:hover a {
  color: #4f1c8c;
}
.list_host ul li:first-child {
  width: 40%;
  height: 65px;
  padding-left: 120px;
  background: url(../img/list_1.png) 80px 8px no-repeat;
}
.list_host ul li:nth-child(2) {
  width: 30%;
  height: 65px;
  padding-left: 45px;
  background: url(../img/list_2.png) 5px 8px no-repeat;
}
.list_host ul li:nth-child(3) {
  width: 30%;
  padding-left: 40px;
  background: url(../img/list_3.png) 0 8px no-repeat;
  height: 65px;
}
.list_host ul li:nth-child(4) {
  width: 35%;
  padding-left: 85px;
  background: url(../img/list_4.png) 42px 8px no-repeat;
  height: 65px;
}
.list_host ul li:nth-child(5) {
  width: 30%;
  padding-left: 70px;
  padding-top: 20px;
  height: 65px;
  background: url(../img/list_5.png) 19px 8px no-repeat;
}
.list_host ul li:nth-child(6) {
  width: 35%;
  height: 65px;
  padding-left: 55px;
  background: url(../img/list_6.png) 15px 8px no-repeat;
}
.list_host ul li a {
  font-size: 18px;
  font-weight: bold;
  color: #5a5a5a;
  line-height: 18px;
}
.list_host ul .active a {
  color: #9b258b;
}
.base {
  margin-top: -60px;
}
.base .container {
  display: -moz-flex;
  display: -webkit-box;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: justify;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.base .container div {
  width: 50%;
  display: inline-block;
}
.base_text_1 {
  padding-left: 150px;
}
.base_text_1 p {
  line-height: 27px;
}
.base_text_2 {
  margin-top: 26px;
  padding-left: 10px;
}
.base_text_2 p {
  line-height: 25px;
}
.base_text p {
  width: 400px;
  display: inline-block;
  text-align: left;
  font-size: 18px;
  color: #5a5a5a;
}
.base .pic1 {
  padding-left: 10px;
}
.base .pic2 {
  padding-left: 150px;
  margin-top: 26px;
}
.big-img {
  margin-top: 60px;
  margin-bottom: 30px;
}
.video {
  background: url(../img/bg_video.jpg) center top no-repeat;
  height: 727px;
}
.video_head {
  margin-bottom: 8px;
  margin-top: 19px;
  text-align: center;
}
.video_head h2 {
  color: #fff;
  font-size: 32px;
}
.video_for {
  text-align: center;
}
.video_for_slide .slide_head {
  width: 700px;
  display: inline-block;
  margin-top: 15px;
}
.video_for_slide .slide_head h3 {
  text-align: left;
  width: 100%;
}
.video_for_slide h3 {
  font-size: 18px;
  color: #fff;
}
.video_for img {
  display: inline-block;
}
.video_nav {
  text-align: center;
  margin-top: 10px;
}
.video_nav_slide {
  outline: none;
}
.video_nav_slide .slide_bg {
  height: 118px;
  display: inline-block;
  width: 214px;
  background: #5a5a5a;
  text-align: center;
}
.video_nav_slide .slide_bg img {
  margin-top: 35px;
  display: inline-block;
  cursor: pointer;
}
.video_nav_slide .slide_head {
  display: inline-block;
  cursor: pointer;
  width: 249px;
  text-align: left;
  font-size: 16px;
  color: #fff;
  margin-top: 8px;
}
.three_blocks {
  margin-top: 25px;
  margin-bottom: 40px;
}
.three_blocks_content {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.three_blocks_content .block {
  width: 305px;
  height: 186px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  position: relative;
  margin-right: 20px;
}
.three_blocks_content .block_img {
  width: 100%;
  height: 186px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.three_blocks_content .block_img img {
  width: 100%;
}
.three_blocks_content .block_text {
  position: absolute;
  right: 5px;
  z-index: 5;
  bottom: 5px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.three_blocks_content .block_text h3 {
  text-align: right;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}
.three_blocks_content .block:hover .block_text {
  margin-right: 5px;
}
.three_blocks_content .block:focus .block_text,
.three_blocks_content .block:active .block_text {
  margin-right: 22px;
}
.three_blocks_content .news .block_img {
  background: url(../img/News1.png) no-repeat center;
}
.three_blocks_content .news .block_img:hover {
  background: url(../img/News--Hover1.png) no-repeat center;
}
.three_blocks_content .news .block_img:focus,
.three_blocks_content .news .block_img:active {
  background: url(../img/News-Down.png) no-repeat;
}
.three_blocks_content .article .block_img {
  background: url(../img/Articles1.png) no-repeat center;
}
.three_blocks_content .article .block_img:hover {
  background: url(../img/Articles--Hover.png) no-repeat center;
}
.three_blocks_content .article .block_img:focus,
.three_blocks_content .article .block_img:active {
  background: url(../img/Articles-Down.png) no-repeat;
}
.three_blocks_content .download {
  margin-right: 0;
}
.three_blocks_content .download .block_img {
  background: url(../img/Downloads1.png) no-repeat center;
}
.three_blocks_content .download .block_img:hover {
  background: url(../img/Downloads--Hover.png) no-repeat center;
}
.three_blocks_content .download .block_img:focus,
.three_blocks_content .download .block_img:active {
  background: url(../img/Downloads-Down.png) no-repeat;
}
.footer {
  background: url(../img/FooterFeather.png) center no-repeat;
  background-size: cover;
  height: 300px;
}
.footer_logo {
  margin-top: 57px;
}
.footer_logo ul {
  margin-left: 20px;
}
.footer_logo ul li {
  float: left;
}
.footer_logo ul li:last-child {
  margin-right: 0;
}
.footer_logo_contact {
  margin-top: 20px;
}
.footer_logo_contact li {
  margin-right: 25px;
}
.footer_logo_contact li:last-child {
  -webkit-transform: translateY(-15%);
  -ms-transform: translateY(-15%);
  transform: translateY(-15%);
}
.footer_logo_social {
  margin-top: 20px;
}
.footer_logo_social li {
  margin-right: 31px;
}
.footer_center ul li {
  font-size: 10px;
  color: #343434;
  margin-bottom: 10px;
}
.footer_center ul li:last-child {
  margin-bottom: 0;
}
.footer_center ul li a {
  color: #343434;
}
.footer_center ul li h3 {
  font-size: 18px;
  color: #343434;
  margin-top: 30px;
}
.footer_center_products {
  float: left;
  width: 45%;
}
.footer_center_uslugi {
  width: 40%;
  float: right;
}
.footer_right_top {
  padding-left: 40px;
}
.footer_right_top ul {
  float: left;
}
.footer_right_top ul h3 {
  font-size: 18px;
  color: #343434;
  margin-top: 30px;
  margin-bottom: 16px;
}
.footer_right_top ul li {
  font-size: 10px;
  color: #343434;
}
.footer_right_top ul li a {
  color: #343434;
}
.footer_right_top_doc {
  margin-right: 50px;
}
.footer_right_top_doc li {
  margin-bottom: 4px;
  width: 100px;
}
.footer_right_top_comp {
  margin-right: 30px;
}
.footer_right_top_comp li {
  margin-bottom: 15px;
}
.footer_right_top_comp li:last-child {
  margin-bottom: 0;
}
.footer_right_top_contact li {
  margin-bottom: 15px;
}
.footer_right_top_contact li:last-child {
  margin-bottom: 0;
}
.footer_right_bottom {
  border-top: 1px solid #505050;
  margin-left: 40px;
  margin-right: 50px;
  padding-top: 3px;
}
.footer_right_bottom p {
  font-size: 13px;
  color: #343434;
  line-height: 24px;
}
/* ---------------------------------Products--------------------------------- */
.product {
  background: url(../img/bg_pr-fasad.png) top no-repeat;
  margin-top: -34px;
  padding-top: 27px;
}
.product_blocks {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.product_blocks .block {
  width: 317px;
  height: 215px;
  margin-bottom: 30px;
  margin-right: 20px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.product_blocks .block_1 {
  background: url(../img/ProdBotton1.png) center no-repeat;
}
.product_blocks .block_1:hover {
  background: url(../img/ProdBotton1-Hover.png) center no-repeat;
}
.product_blocks .block_1:active,
.product_blocks .block_1:focus {
  background: url(../img/ProdBotton1Down.png) center no-repeat;
}
.product_blocks .block_2 {
  background: url(../img/ProdBotton2.png) center no-repeat;
}
.product_blocks .block_2:hover {
  background: url(../img/ProdBotton2-Hover.png) center no-repeat;
}
.product_blocks .block_2:active,
.product_blocks .block_2:focus {
  background: url(../img/ProdBotton2Down.png) center no-repeat;
}
.product_blocks .block_3 {
  background: url(../img/ProdBotton3.png) center no-repeat;
  margin-right: 0;
}
.product_blocks .block_3:hover {
  background: url(../img/ProdBotton3-Hover.png) center no-repeat;
}
.product_blocks .block_3:active,
.product_blocks .block_3:focus {
  background: url(../img/ProdBotton3Down.png) center no-repeat;
}
.product_blocks .block_4 {
  background: url(../img/ProdBotton4.png) center no-repeat;
}
.product_blocks .block_4:hover {
  background: url(../img/ProdBotton4-Hover.png) center no-repeat;
}
.product_blocks .block_4:active,
.product_blocks .block_4:focus {
  background: url(../img/ProdBotton4Down.png) center no-repeat;
}
.product_blocks .block_5 {
  background: url(../img/ProdBotton5.png) center no-repeat;
}
.product_blocks .block_5:hover {
  background: url(../img/ProdBotton5-Hover.png) center no-repeat;
}
.product_blocks .block_5:active,
.product_blocks .block_5:focus {
  background: url(../img/ProdBotton5Down.png) center no-repeat;
}
.product_blocks .block_6 {
  background: url(../img/ProdBotton6.png) center no-repeat;
  margin-right: 0;
}
.product_blocks .block_6:hover {
  background: url(../img/ProdBotton6-Hover.png) center no-repeat;
}
.product_blocks .block_6:active,
.product_blocks .block_6:focus {
  background: url(../img/ProdBotton6Down.png) center no-repeat;
}
.product_blocks .block h3 {
  font-size: 21px;
  padding-top: 18px;
  padding-left: 21px;
  color: #3b3b3b;
}
.product_skills_head {
  text-align: center;
}
.product_skills_head h2 {
  font-size: 26px;
  color: #5a5a5a;
  text-align: center;
  margin-bottom: 12px;
  font-weight: bold;
}
.product_skills_head img {
  margin-bottom: 5px;
}
.product_skills_blocks {
  margin-bottom: 50px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.product_skills_blocks .block {
  width: 40%;
  height: 152px;
  text-align: center;
  vertical-align: middle;
}
.product_skills_blocks .block p {
  margin-left: 80px;
  padding-top: 20px;
  font-size: 16px;
  text-align: left;
  width: 230px;
  display: inline-block;
}
.product_skills_blocks .block_1 {
  background: url(../img/skill_1.png) center no-repeat;
}
.product_skills_blocks .block_2 {
  background: url(../img/skill_2.png) center no-repeat;
}
.product_skills_blocks .block_2 p {
  padding-top: 13px;
}
.product_skills_blocks .block_3 {
  background: url(../img/skill_3.png) center no-repeat;
}
.product_skills_blocks .block_3 p {
  padding-top: 35px;
}
.product_skills_blocks .block_4 {
  background: url(../img/skill_4.png) center no-repeat;
}
.product_skills_blocks .block_4 p {
  padding-top: 30px;
}
.product_skills_blocks .block_5 {
  background: url(../img/skill_5.png) center no-repeat;
}
.product_skills_blocks .block_5 p {
  padding-top: 45px;
}
.product_skills_blocks .block_6 {
  background: url(../img/skill_6.png) center no-repeat;
}
.product_skills_blocks .block_6 p {
  padding-top: 35px;
}
.product_skills_blocks .block_7 {
  background: url(../img/skill_7.png) center no-repeat;
}
.product_skills_blocks .block_7 p {
  padding-top: 40px;
}
.product_skills_blocks .block_8 {
  background: url(../img/skill_8.png) center no-repeat;
}
.product_skills_blocks .block_8 p {
  padding-top: 30px;
}
.product_skills_blocks .block_9 {
  background: url(../img/skill_9.png) center no-repeat;
}
.product_skills_blocks .block_9 p {
  padding-top: 5px;
}
.product_skills_blocks .block_10 {
  background: url(../img/skill_10.png) center no-repeat;
}
.product_skills_blocks .block_10 p {
  padding-top: 35px;
  margin-left: 260px;
}
/* ------------------------------Products-fasad------------------------------ */
.slider-pr_img_bg {
  background: url(../img/bg_products.jpg) center no-repeat;
  height: 406px;
}
.slider-pr_img_line {
  height: 13px;
  background: url(../img/line-under.jpg) center no-repeat;
}
.list-pr {
  background: none;
  height: 100%;
  margin-top: -145px;
  z-index: 10;
  position: relative;
}
.pr-fasad {
  background: url(../img/bg_pr-fasad.png) center no-repeat;
  padding-top: 44px;
  margin-top: -34px;
}
.pr-fasad_head h1 {
  color: #5a5a5a;
  font-size: 24px;
  border-bottom: 2px solid #9c3a8f;
  padding-bottom: 13px;
}
.pr-fasad_head_croshki li {
  float: left;
  margin-right: 5px;
  font-size: 14px;
  margin-top: 12px;
  margin-bottom: 18px;
}
.pr-fasad_head_croshki li a {
  color: #9d9c9c;
}
.pr-fasad_head p {
  color: #5a5a5a;
  font-size: 17px;
}
.pr-accordion {
  margin-bottom: 50px;
}
.pr-accordion_list .list_head {
  padding-left: 120px;
  color: #fff;
  padding-top: 53px;
  padding-bottom: 53px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  /* .arrow {
				background: url(../img/up.png) center no-repeat;
				height: 59px;
				width: 43px;
				right: 30%;
				bottom: 20px;
				position: absolute;
			} */
}
.pr-accordion_list .list_head_1 {
  background: url(../img/compil-Decor-DOWN.png) center no-repeat;
}
.pr-accordion_list .list_head_2 {
  background: url(../img/compil-Elastica-DOWN.png) center no-repeat;
}
.pr-accordion_list .list_head_3 {
  background: url(../img/compil-Silikon-DOWN.png) center no-repeat;
}
.pr-accordion_list .list_head_4 {
  background: url(../img/compil-Tcokol-DOWN.png) center no-repeat;
}
.pr-accordion_list .active .list_head_1 {
  background: url(../img/compil-Decor-Up.png) center no-repeat;
}
.pr-accordion_list .active .list_head_2 {
  background: url(../img/compil-Elastica-Up.png) center no-repeat;
}
.pr-accordion_list .active .list_head_3 {
  background: url(../img/compil-Silikon-Up.png) center no-repeat;
}
.pr-accordion_list .active .list_head_4 {
  background: url(../img/compil-Tcokol-Up.png) center no-repeat;
}
.pr-accordion .panel {
  margin-bottom: 50px;
}
.pr-accordion .panel .panel_desk {
  font-size: 16px;
  color: #5a5a5a;
  margin-top: 25px;
  margin-bottom: 50px;
}
.pr-accordion .panel_list {
  margin-bottom: 50px;
}
.pr-accordion .panel_list h4 {
  color: #5a5a5a;
  font-weight: bold;
  margin-bottom: 20px;
}
.pr-accordion .panel_list li {
  font-size: 14px;
  color: #5a5a5a;
  margin-bottom: 10px;
}
.pr-accordion .panel_list li:last-child {
  margin-bottom: 0;
}
.pr-accordion .panel_color-btn {
  text-align: center;
  height: 100px;
}
.pr-accordion .panel_color-btn a {
  padding: 16px 95px 16px 50px;
  color: #5a5a5a;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #747474;
  position: relative;
}
.pr-accordion .panel_color-btn a img {
  position: absolute;
  right: 13px;
  bottom: 9px;
}
.pr-accordion .panel_right {
  margin-bottom: 35px;
}
.pr-accordion .panel_right .panel_fact {
  display: inline-block;
}
.pr-accordion .panel_right .panel_skill {
  display: inline-block;
  margin-left: -20px;
  vertical-align: middle;
}
.pr-accordion .panel_right .panel_skill li {
  margin-bottom: 10px;
  list-style: none;
  font-size: 13px;
  color: #5a5a5a;
}
.pr-accordion .panel_right .panel_skill li a {
  text-decoration: underline;
  font-weight: bold;
}
.pr-accordion .panel_right .panel_skill li img {
  margin-right: 7px;
}
.pr-accordion .panel_gallery .panel_block {
  float: left;
  margin-top: 13px;
  position: relative;
  margin-right: 29px;
}
.pr-accordion .panel_gallery .panel_block:nth-child(2n) {
  margin-right: 0;
}
.pr-accordion .panel_gallery .panel_block .zoom {
  position: absolute;
  left: 3px;
  bottom: 42px;
}
.pr-accordion .panel_gallery .panel_block .block_head {
  margin-top: 8px;
  font-size: 14px;
  color: #5a5a5a;
}
.pr-accordion .panel_gallery .panel_block .block_head span {
  font-size: 12px;
}
/* -----------------------------products-grunt--------------------- */
.pr-grunt {
  padding-top: 54px;
  margin-top: -34px;
  background: url(../img/bg_products-grunt.png) center -40px no-repeat;
}
.pr-grunt_menu_head {
  color: #9d9c9c;
  background: url(../img/btn_grunt.png) center left no-repeat;
  padding: 24px 0;
  font-size: 14px;
  cursor: pointer;
  padding-left: 11px;
  width: 231px;
}
.pr-grunt_menu_head h3 {
  font-size: 14px;
}
.pr-grunt_menu ul {
  background: #fff;
}
.pr-grunt_menu ul li {
  font-size: 13px;
  color: #6b6b6b;
  margin-left: 7px;
  padding: 14px 0 8px 9px;
  border-bottom: 1px solid #7092a5;
  width: 224px;
}
.pr-grunt_content {
  margin-bottom: 50px;
}
.pr-grunt_content_head h2 {
  font-size: 24px;
  color: #5a5a5a;
  border-bottom: 2px solid #9c3a8f;
  font-weight: bold;
  margin-bottom: 14px;
}
.pr-grunt_content_desk {
  margin-bottom: 33px;
}
.pr-grunt_content_desk p {
  font-size: 18px;
  font-weight: bold;
  color: #5a5a5a;
}
.pr-grunt_content .feature_1 img {
  width: 100%;
}
.pr-grunt_content .feature_1_blocks img {
  width: 145px;
}
.pr-grunt_content .feature_1_blocks .feature_1_block {
  float: left;
  margin-right: 30px;
}
.pr-grunt_content .feature_1_blocks .feature_1_block:last-child {
  margin-right: 0;
}
.pr-grunt_content .feature_1_blocks .feature_1_block p {
  color: #5a5a5a;
  margin-top: 13px;
  font-size: 14px;
  padding-left: 12px;
}
.pr-grunt_content .feature_1 ul {
  margin-bottom: 29px;
}
.pr-grunt_content .feature_1 ul h3 {
  font-size: 16px;
  color: #5a5a5a;
  font-weight: bold;
  margin-bottom: 19px;
}
.pr-grunt_content .feature_1 ul li {
  font-size: 14px;
  list-style: disc inside;
  color: #5a5a5a;
  margin-bottom: 12px;
}
.pr-grunt_content .pr-grunt_blocks {
  margin-bottom: 80px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: left;
  -ms-justify-content: left;
  -o-justify-content: left;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.pr-grunt_content .pr-grunt_blocks .pr_grunt_block {
  width: 50%;
  margin-top: 30px;
}
.pr-grunt_content .pr-grunt_blocks .pr_grunt_block .fastek_img_2 {
  margin-left: -40px;
}
.pr-grunt_content .pr-grunt_blocks .pr_grunt_block h3 {
  margin-top: -20px;
  width: 220px;
  font-size: 18px;
  line-height: 26px;
  color: #5a5a5a;
  font-weight: bold;
}
.pr-grunt_content .pr-grunt_blocks .pr_grunt_block p {
  color: #5a5a5a;
  width: 220px;
  font-size: 13px;
}
.pr-grunt_content .pr-grunt_blocks .pr_grunt_block ul li {
  vertical-align: middle;
  margin-bottom: 10px;
}
.pr-grunt_content .pr-grunt_blocks .pr_grunt_block ul li img {
  margin-right: 13px;
}
.pr-grunt_content .pr-grunt_blocks .pr_grunt_block ul li a {
  font-weight: bold;
  text-decoration: underline;
  color: #5a5a5a;
}
.pr-grunt_content .pr-grunt_blocks .pr_grunt_block ul li:last-child {
  margin-bottom: 0;
}
.empty {
  height: 517px;
}
.bread_crumbs {
  margin: 10px 0 40px 0;
}
.bread_crumbs li {
  float: left;
  margin-right: 7px;
}
.bread_crumbs li a {
  font-size: 14px;
  color: #9d9c9c;
}
/* ----------------------------Product-decor----------------------------- */
.pr-decor_menu_head {
  background: url(../img/btn_decor.jpg) center left no-repeat;
  padding: 16px 0 16px 11px;
}
.pr-decor_content {
  margin-bottom: 50px;
}
.pr-decor_content_header {
  margin-top: 10px;
}
.pr-decor_content_header_2 {
  margin-top: 100px;
}
.pr-decor_content_header_3 {
  margin-top: 70px;
}
.pr-decor_content_header h2 {
  color: #5a5a5a;
  font-size: 21px;
  text-align: center;
}
.pr-decor_content_header h2 img {
  margin: 0 14px;
}
.pr-decor_content_blocks {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.pr-decor_content_blocks .block {
  width: 230px;
  margin-top: 36px;
}
.pr-decor_content_blocks .block h3 {
  margin-top: 10px;
  font-size: 18px;
  color: #5a5a5a;
  margin-bottom: 15px;
  font-weight: bold;
}
.pr-decor_content_blocks .block h4 {
  font-size: 13px;
  color: #5a5a5a;
  margin-bottom: 13px;
}
.pr-decor_content_blocks .block p {
  font-size: 13px;
  color: #5a5a5a;
}
.pr-decor_content_blocks .block ul li {
  margin-bottom: 13px;
  font-size: 13px;
  vertical-align: middle;
  color: #5a5a5a;
}
.pr-decor_content_blocks .block ul li:last-child {
  margin-bottom: 0;
}
.pr-decor_content_blocks .block ul li img {
  margin-right: 8px;
}
.pr-decor_content_blocks .block ul li a {
  font-weight: bold;
  color: #5a5a5a;
  text-decoration: underline;
}
/* -----------------------------Contact------------------------- */
.slider-contact_img_bg {
  background: url(../img/bg_contact.jpg) center no-repeat;
  height: 406px;
}
.list-contact {
  background: none;
  height: 100%;
  margin-top: -158px;
  z-index: 10;
  position: relative;
}
.ct-contact {
  background: url(../img/bg_ct_contact.png) center -20px no-repeat;
  padding-top: 31px;
  margin-top: -31px;
}
.ct-contact_desk {
  margin-top: 10px;
}
.ct-contact_desk .desk_imgs {
  float: left;
  text-align: center;
}
.ct-contact_desk .desk_imgs li {
  margin-top: 15px;
  margin-bottom: 40px;
}
.ct-contact_desk .desk_imgs li img {
  display: inline-block;
}
.ct-contact_desk .desk_imgs li:nth-child(2) {
  margin-top: 55px;
}
.ct-contact_desk .desk_text {
  margin-left: 50px;
}
.ct-contact_desk .desk_text li {
  margin-bottom: 20px;
  font-size: 18px;
  color: #5a5a5a;
}
.ct-contact_map {
  text-align: center;
  margin-bottom: 50px;
}
.ct-contact_map img {
  width: 100%;
}
.line {
  border-bottom: 2px solid #9c3a8f;
  height: 2px;
  margin-bottom: 20px;
}
.form {
  text-align: left;
}
.form form div {
  display: block;
  width: 330px;
}
.form_button {
  margin-top: 37px;
  margin-bottom: 73px;
}
.form_button button {
  background: #9c3a8f;
  width: 330px;
  padding: 17px 0;
  color: #fff;
  outline: none;
  text-transform: uppercase;
  font-size: 18px;
  border: none;
  border-radius: 6px;
}
.form form label {
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  color: #575757;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-left: 11px;
  font-weight: normal;
}
.form form input,
.form form textarea {
  width: 330px;
  border: 1px solid #ebebeb;
  border-radius: 6px;
  padding: 18px 11px 16px 11px;
  outline: none;
}
.form form ::-webkit-input-placeholder {
  color: #cdcdcd;
  font-size: 16px;
}
.form form ::-moz-placeholder {
  color: #cdcdcd;
  font-size: 16px;
}
.form form :-moz-input-placeholder {
  color: #cdcdcd;
  font-size: 16px;
}
.form form ::-ms-input-placeholder {
  color: #cdcdcd;
  font-size: 16px;
}
.form_mail {
  margin-bottom: 23px;
  position: relative;
}
.form_mail input {
  position: relative;
  padding-right: 45px!important;
}
.form_mail .plus {
  position: absolute;
  right: 12px;
  bottom: 12px;
  height: 33px;
  width: 33px;
  text-align: right;
  z-index: 12;
  display: inline-block;
  background: url(../img/plus.png) center no-repeat;
}
.form_mail .plus a {
  height: 33px;
  width: 33px;
  display: inline-block;
}
.form_name {
  margin-bottom: 11px;
}
.form_phone {
  margin-bottom: 23px;
}
/* ------------------------------About------------------------------- */
.about {
  background: url(../img/bg_abot.png) center -20px no-repeat;
}
.about_desk p {
  color: #5a5a5a;
  font-size: 16px;
  margin-bottom: 53px;
}
.about_img {
  margin-bottom: 50px;
}
.about_img img {
  width: 100%;
}
/* -----------------------------Adaptive--------------------------------- */
@media only screen and (max-width: 1199px) {
  .up_menu ul li {
    font-size: 11px;
  }
  .up_contact {
    background-size: 100%;
    height: 75px;
  }
  .up_contact h2 {
    margin-left: 34px;
    font-size: 19px;
    margin-top: 15px;
  }
  .up_contact ul {
    margin-left: 13px;
  }
  .up_contact ul li {
    font-size: 13px;
    margin-right: 8px;
  }
  .list {
    height: 100%;
  }
  .list .container {
    padding: 0;
  }
  .list_host {
    background-size: 100%;
  }
  .base {
    margin-top: 0;
  }
  .base_text_1 {
    padding-left: 20px;
  }
  .base .pic2 {
    padding-left: 20px;
  }
  .big-img img {
    width: 100%;
  }
  .footer {
    height: 377px;
  }
  .footer_right_top_doc {
    margin-right: 15px;
  }
  .footer_right_bottom {
    margin-right: 20px;
  }
  .product_blocks .block_2 {
    margin-right: 0;
  }
  .product_blocks .block_3 {
    margin-right: 20px;
  }
  .product_blocks .block_4 {
    margin-right: 0;
  }
  .product_skills_blocks .block_10 p {
    margin-left: 218px;
  }
  .pr-decor_content .pr-grunt_content_head h2 {
    font-size: 23px;
  }
  .pr-decor_content_header h2 {
    font-size: 19px;
  }
}
@media only screen and (max-width: 991px) {
  .up {
    height: 49px;
  }
  .up_logo {
    height: 49px;
  }
  .up_logo img {
    width: 100%;
  }
  .up_menu ul {
    text-align: center;
    margin-top: 6px;
  }
  .up_menu ul li {
    float: none;
    display: inline-block;
    font-size: 11px;
  }
  .up_contact {
    height: 49px;
  }
  .up_contact h2 {
    font-size: 14px;
    margin-left: 30px;
    margin-top: 6px;
  }
  .up_contact ul {
    margin-left: 7px;
    margin-top: 5px;
  }
  .up_contact ul li {
    font-size: 11px;
    margin-right: 3px;
  }
  .slider {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .slider-contact {
    margin-top: 0;
  }
  .list {
    height: 200px;
    margin-top: 0;
  }
  .list_host ul {
    width: 100%;
  }
  .list_host ul li {
    padding-top: 0;
    margin-top: 3px;
  }
  .list_host ul li a {
    font-size: 13px;
    line-height: 1;
  }
  .list_host ul li:first-child {
    width: 35%;
    height: 44px;
    padding-left: 74px;
    background: url(../img/list_1.png) 40px -8px no-repeat;
  }
  .list_host ul li:nth-child(2) {
    width: 30%;
    height: 44px;
    padding-left: 45px;
    background: url(../img/list_2.png) 15px -8px no-repeat;
  }
  .list_host ul li:nth-child(3) {
    width: 35%;
    padding-left: 40px;
    background: url(../img/list_3.png) 0 -8px no-repeat;
    height: 44px;
  }
  .list_host ul li:nth-child(4) {
    width: 33%;
    padding-left: 50px;
    background: url(../img/list_4.png) 10px -8px no-repeat;
    height: 44px;
  }
  .list_host ul li:nth-child(5) {
    width: 27%;
    padding-left: 43px;
    padding-top: 10px;
    height: 44px;
    background: url(../img/list_5m.png) 10px -8px no-repeat;
  }
  .list_host ul li:nth-child(6) {
    width: 40%;
    height: 44px;
    padding-left: 55px;
    background: url(../img/list_6.png) 15px -8px no-repeat;
  }
  .list-pr {
    margin-top: -91px;
    height: 91px;
  }
  .base {
    margin-top: -60px;
  }
  .base .container div {
    width: 300px;
  }
  .base_text_1 {
    padding-left: 5px;
  }
  .base_text_2 {
    padding-left: 15px;
  }
  .base_text p {
    width: 100%;
    padding: 0;
    font-size: 12px;
    line-height: 20px;
  }
  .base_img img {
    width: 100%;
  }
  .base .pic1 {
    padding-left: 15px;
  }
  .base .pic2 {
    padding-left: 5px;
  }
  .list-contact {
    margin-top: -93px;
    height: 100px;
  }
  .big-img {
    margin-top: 30px;
  }
  .video_slider .video_for img {
    width: 100%;
  }
  .video_slider .video_nav_slide {
    margin-right: 20px;
  }
  .video_slider .video_nav_slide .slide_bg {
    width: 100%;
  }
  .video_slider .video_nav_slide .slide_head {
    width: 100%;
  }
  .three_blocks_content .article {
    margin-right: 0;
  }
  .three_blocks_content .download {
    margin-top: 20px;
  }
  .footer {
    height: 400px;
  }
  .footer .container {
    width: 100%;
  }
  .footer_center ul li {
    margin-bottom: 10px;
  }
  .footer_right_top {
    padding-left: 0;
  }
  .footer_right_top_doc {
    margin-right: 4px;
  }
  .footer_right_top_comp {
    margin-right: 5px;
  }
  .footer_right_bottom {
    margin-left: 0;
    margin-right: 0;
  }
  .about {
    padding-top: 41px;
  }
  .product {
    margin-top: 0;
    padding-top: 25px;
  }
  .product_skills_blocks .block {
    width: 320px;
    background-size: 100%;
  }
  .product_skills_blocks .block p {
    font-size: 12px;
    margin-left: 51px;
    width: 166px;
  }
  .product_skills_blocks .block_1 p {
    padding-top: 34px;
  }
  .product_skills_blocks .block_2 p {
    padding-top: 28px;
  }
  .product_skills_blocks .block_9 p {
    padding-top: 20px;
  }
  .product_skills_blocks .block_10 p {
    margin-left: 189px;
  }
  .pr-grunt_menu_head {
    width: 100%;
    background-position: right center;
  }
  .pr-grunt_menu ul li {
    width: 100%;
  }
  .pr-accordion_list .list_head {
    padding-left: 43px;
  }
  .pr-fasad {
    padding-top: 66px;
  }
  .pr-decor_content .pr-grunt_content_head h2 {
    font-size: 21px;
  }
  .pr-decor_content_header h2 {
    font-size: 15px;
  }
  .pr-decor_content_header h2 img {
    margin: 0 5px;
  }
}
@media only screen and (max-width: 767px) {
  .toggle-menu {
    display: block;
  }
  .up_menu_desk {
    display: none;
  }
  .up {
    height: 149px;
    background-repeat: repeat-y;
  }
  .up_logo {
    text-align: right;
    height: 86px;
  }
  .up_logo img {
    width: 352px;
  }
  .up_contact {
    text-align: center;
    height: 57px;
  }
  .up_contact h2 {
    margin-left: 0;
  }
  .up_contact ul {
    text-align: center;
    margin-left: 0;
  }
  .up_contact ul li {
    float: none;
    margin-right: 5px;
    display: inline-block;
  }
  .list {
    height: 229px;
  }
  .list_host {
    background: -webkit-gradient(linear, left bottom, left top, from(#c4c6e1), to(#eddef2));
    background: -webkit-linear-gradient(bottom, #c4c6e1, #eddef2);
    background: -o-linear-gradient(bottom, #c4c6e1, #eddef2);
    background: linear-gradient(to top, #c4c6e1, #eddef2);
  }
  .list_host ul {
    width: 100%;
    text-align: center;
  }
  .list_host ul li {
    float: left;
    margin-top: 0;
    padding-top: 10px;
  }
  .list_host ul li a {
    font-size: 13px;
    line-height: 1;
  }
  .list_host ul li:first-child {
    width: 35%;
    height: 65px;
    padding-left: 74px;
    background: url(../img/list_1.png) 40px 10px no-repeat;
  }
  .list_host ul li:nth-child(2) {
    width: 30%;
    height: 65px;
    padding-left: 45px;
    background: url(../img/list_2.png) 5px 10px no-repeat;
  }
  .list_host ul li:nth-child(3) {
    width: 34%;
    padding-left: 40px;
    background: url(../img/list_3.png) 5px 10px no-repeat;
    height: 65px;
  }
  .list_host ul li:nth-child(4) {
    width: 33%;
    padding-left: 50px;
    background: url(../img/list_4.png) 10px 10px no-repeat;
    height: 65px;
  }
  .list_host ul li:nth-child(5) {
    width: 27%;
    padding-left: 43px;
    padding-top: 20px;
    height: 65px;
    vertical-align: middle;
    background: url(../img/list_5.png) 5px 10px no-repeat;
  }
  .list_host ul li:nth-child(6) {
    width: 39%;
    height: 65px;
    padding-left: 55px;
    background: url(../img/list_6.png) 5px 10px no-repeat;
  }
  .base_text_1 {
    padding-left: 0;
  }
  .base_text_2 {
    padding-left: 0;
  }
  .base .pic1 {
    padding-left: 0;
  }
  .base .pic2 {
    padding-left: 0;
  }
  .video {
    height: 700px;
  }
  .video_head h2 {
    font-size: 25px;
  }
  .video_for_slide h3 {
    font-size: 15px;
  }
  .three_blocks {
    margin-top: 20px;
  }
  .three_blocks_content .block {
    margin: 0;
  }
  .three_blocks_content .news {
    margin: 0 20px 20px 20px;
  }
  .three_blocks_content .article {
    margin: 0 20px 20px 20px;
  }
  .three_blocks_content .download {
    margin: 0 20px;
  }
  .footer {
    height: 550px;
  }
  .footer_logo {
    margin-top: 33px;
  }
  .footer_center ul li {
    margin-bottom: 10px;
  }
  .footer_right_top {
    padding-left: 20px;
  }
  .footer_right_top_doc {
    margin-right: 50px;
  }
  .footer_right_top_comp {
    margin-right: 50px;
  }
  .footer_right_bottom {
    margin-left: 20px;
    margin-right: 0px;
  }
  .about {
    padding-top: 0;
  }
  .about_desk p {
    font-size: 13px;
  }
  .about_img {
    margin-bottom: 100px;
  }
  .list-contact {
    margin-top: 0;
    padding-top: 0;
  }
  .cttt-contact {
    margin-top: 0;
    padding-top: 0;
  }
  .list-pr {
    height: 144px;
  }
  .pr-grunt_content .feature_1 .feature_img_big {
    width: 355px;
  }
  .pr-accordion_list .list_head {
    padding-left: 43px;
  }
  .panel {
    padding-left: 20px;
  }
  .pr-accordion .panel_gallery .panel_block:nth-child(2n) {
    margin-right: 29px;
  }
  .pr-decor_content .pr-grunt_content_head h2 {
    font-size: 19px;
  }
  .pr-decor_content_header h2 {
    font-size: 15px;
  }
  .bread_crumbs li a {
    font-size: 12px;
  }
}
@media only screen and (max-width: 683px) {
  .product_blocks .block {
    margin: 0 20px 20px 20px;
  }
}
@media only screen and (max-width: 670px) {
  .list_host {
    height: 210px;
  }
  .list_host ul {
    width: 100%;
    text-align: center;
    padding-left: 5%;
  }
  .list_host ul li {
    float: left;
  }
  .list_host ul li a {
    font-size: 11px;
    line-height: 1;
  }
  .list_host ul li:first-child {
    width: 47.5%;
    height: 65px;
    padding-left: 40px;
    background: url(../img/list_1m.png) 5px 10px no-repeat;
  }
  .list_host ul li:nth-child(2) {
    width: 47.5%;
    height: 65px;
    padding-left: 45px;
    background: url(../img/list_2m.png) 5px 10px no-repeat;
  }
  .list_host ul li:nth-child(3) {
    width: 47.5%;
    padding-left: 40px;
    background: url(../img/list_3m.png) 5px 10px no-repeat;
    height: 65px;
  }
  .list_host ul li:nth-child(4) {
    width: 47.5%;
    padding-left: 50px;
    background: url(../img/list_4m.png) 10px 10px no-repeat;
    height: 65px;
  }
  .list_host ul li:nth-child(5) {
    width: 47.5%;
    padding-left: 43px;
    padding-top: 20px;
    height: 65px;
    vertical-align: middle;
    background: url(../img/list_5m.png) 5px 10px no-repeat;
  }
  .list_host ul li:nth-child(6) {
    width: 47.5%;
    height: 65px;
    padding-left: 55px;
    background: url(../img/list_6m.png) 5px 10px no-repeat;
  }
  .base {
    margin-top: 0;
  }
  .about {
    padding-top: 41px;
  }
  .list-pr {
    height: 210px;
  }
  .product {
    background-size: 100%;
  }
  .product_skills_head h2 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 603px) {
  .list_host ul {
    width: 100%;
    text-align: center;
  }
  .list_host ul li {
    float: left;
  }
  .list_host ul li a {
    font-size: 11px;
    line-height: 1;
  }
  .pr-grunt_content .pr-grunt_blocks {
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .pr-grunt_content .pr-grunt_blocks .pr_grunt_block {
    width: 320px;
  }
  .pr-grunt_content .feature_1_blocks img {
    width: 100%;
  }
}
@media only screen and (max-width: 640px) {
  .pr-accordion_list .list_head {
    background-position: -200px center;
    padding-left: 10px;
  }
  .pr-accordion_list .active .list_head {
    background-position: -200px center;
  }
}
@media only screen and (max-width: 570px) {
  .footer {
    height: 600px;
  }
}
@media only screen and (max-width: 560px) {
  .pr-accordion_list .list_head {
    background-position: -300px center;
    font-size: 18px;
    padding-left: 10px;
  }
  .pr-accordion_list .active .list_head {
    background-position: -300px center;
  }
  .pr-decor_content .pr-grunt_content_head h2 {
    font-size: 19px;
  }
  .pr-decor_content_header h2 img {
    display: none;
  }
}
@media only screen and (max-width: 540px) {
  .slider .leftnav {
    left: 50px;
  }
  .slider .rightnav {
    right: 50px;
  }
  .product_skills_head h2 {
    font-size: 18px;
  }
  .pr-fasad_head p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 520px) {
  .footer_logo_logotip {
    width: 100%;
  }
  .footer_logo_contact li {
    margin-right: 20px;
  }
  .footer_logo_social li {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .toggle-nav {
    top: 55px;
  }
  .toggle-menu {
    top: 0;
  }
  .slider_slide .slide_img img {
    width: 200%;
  }
  .video {
    height: 640px;
  }
  .video_slider .video_nav_slide {
    margin: 0 20px;
  }
  .video_slider .video_nav_slide .slide_bg {
    width: 300px;
  }
  .video_slider .video_nav_slide .slide_head {
    width: 300px;
  }
  .video_head h2 {
    font-size: 18px;
  }
  .video_for_slide h3 {
    font-size: 12px;
    width: 100%;
  }
  .three_blocks_content .block {
    margin: 0;
  }
  .three_blocks_content .news {
    margin: 0;
    margin-bottom: 20px;
  }
  .three_blocks_content .article {
    margin: 0;
    margin-bottom: 20px;
  }
  .three_blocks_content .download {
    margin: 0;
  }
  .footer {
    height: 800px;
  }
  .footer_logo {
    width: 100%;
  }
  .footer_logo_logotip {
    width: 243px;
  }
  .footer_center {
    width: 100%;
  }
  .footer_right_top {
    padding-left: 0;
  }
  .footer_right_top_doc {
    margin-right: 9%;
  }
  .footer_right_top_comp {
    margin-right: 9%;
  }
  .footer_right_top_contact {
    margin-bottom: 20px;
  }
  .footer_right_bottom {
    margin-left: 0;
    margin-right: 0;
  }
  .pr-fasad_head_croshki li {
    font-size: 11px;
  }
  .product_blocks .block {
    margin: 0;
    margin-bottom: 20px;
  }
  .pr-grunt_content_head h2 {
    font-size: 20px;
  }
  .pr-grunt_content_desk p {
    font-size: 16px;
  }
  .pr-accordion_list .list_head {
    background-position: -350px center;
    font-size: 16px;
  }
  .pr-accordion_list .active .list_head {
    background-position: -350px center;
  }
  .pr-accordion .panel_gallery .panel_block:nth-child(2n) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 420px) {
  .video {
    height: 576px;
  }
  .video_slider .video_nav_slide {
    margin: 0 20px;
  }
  .video_slider .video_nav_slide .slide_bg {
    width: 100%;
  }
  .video_slider .video_nav_slide .slide_head {
    width: 100%;
  }
}
@media only screen and (max-width: 404px) {
  .list {
    height: 404px;
  }
  .list_host {
    height: 404px;
  }
  .list_host ul li a {
    font-size: 13px;
    line-height: 1;
  }
  .list_host ul li:first-child {
    width: 90%;
    padding-left: 50px;
  }
  .list_host ul li:nth-child(2) {
    width: 90%;
    padding-left: 50px;
  }
  .list_host ul li:nth-child(3) {
    width: 90%;
    padding-left: 50px;
  }
  .list_host ul li:nth-child(4) {
    width: 90%;
    padding-left: 50px;
    background-position: 5px 10px;
  }
  .list_host ul li:nth-child(5) {
    width: 90%;
    padding-left: 50px;
  }
  .list_host ul li:nth-child(6) {
    width: 90%;
    padding-left: 50px;
  }
  .base_text_1 {
    margin-top: 20px;
  }
  .about {
    margin-top: 20px;
  }
  .cttt-contact {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 380px) {
  .footer {
    height: 1000px;
  }
  .footer_right_top {
    padding-left: 0;
  }
  .footer_right_top_doc {
    margin-right: 9%;
    width: 40%;
  }
  .footer_right_top_comp {
    margin-right: 0%;
    width: 50%;
  }
  .footer_right_top_contact {
    width: 100%;
  }
}
@media only screen and (max-width: 360px) {
  .up_logo img {
    width: 100%;
  }
  .up_contact ul {
    padding-left: 5px;
    text-align: left;
  }
  .up_contact ul li {
    margin-right: 4px;
  }
  .form form div {
    width: 100%;
  }
  .form form input,
  .form form textarea {
    width: 100%;
  }
  .form_button button {
    width: 100%;
  }
  .pr-grunt_content .feature_1_blocks .feature_1_block {
    width: 44%;
  }
  .pr-grunt_content .feature_1 .feature_img_big {
    width: 100%;
  }
  .pr-grunt_content_head h2 {
    font-size: 19px;
  }
  .pr-grunt_content_desk p {
    font-size: 16px;
  }
}
