/* ----------------- Start styles------------------ */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  cursor: pointer;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/* --------------------------Basic styles--------------------------------- */
#wrapper {
  width: 100%;
  overflow: hidden;
}
.wrap {
  background: url(../img/bg.jpg) center no-repeat;
  height: 1021px;
  position: relative;
}
.wrap .row {
  margin: 0;
}
.wrap_logo {
  text-align: center;
}
.wrap_logo img {
  margin-top: 40px;
  display: inline-block;
}
.wrap_menu ul {
  margin-top: 57px;
  text-align: center;
}
.wrap_menu ul li {
  display: inline-block;
  font-size: 21px;
  margin-right: 35px;
}
.wrap_menu ul li:last-child {
  margin-right: 0;
}
.wrap_menu ul li a {
  font-family: 'Muller';
  color: #000;
  font-size: 21px;
  position: relative;
  text-align: center;
}
.wrap_menu ul li a span {
  display: none;
  height: 2px;
  width: 39px;
  position: absolute;
  bottom: -5px;
  left: 25%;
  background: #000;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.wrap_menu ul li a:hover span {
  display: block;
}
.wrap_menu ul .one a span {
  left: 10px;
}
.wrap_menu ul .two a span {
  left: 30%;
}
.wrap_menu ul .current_page_item a {
  border-bottom: 2px solid #000;
}
.wrap_contact {
  line-height: 1.2;
  margin-top: 30px;
}
.wrap_contact span {
  font-size: 23px;
  display: block;
}
.wrap_contact span b {
  font-size: 27px;
}
.wrap_contact_up {
  font-family: 'Muller';
  font-weight: 500;
}
.wrap_contact_up span {
  font-family: 'Muller';
  font-weight: 300;
}
.wrap_contact_medium {
  color: #fff;
  font-family: "Roboto";
  font-weight: 300;
}
.wrap_contact_block {
  width: 100%;
  text-align: right;
}
.wrap_contact .button a {
  color: #000;
  font-size: 16px;
  border-bottom: 1px dashed #000;
}
.wrap_contact .button a:hover,
.wrap_contact .button a:active {
  border-bottom: none;
}
.wrap_head {
  margin-top: 155px;
}
.wrap_head h1 {
  text-align: center;
  font-family: 'Muller';
  font-weight: bold;
  text-shadow: 2px 1px 1px #000000;
  font-size: 45px;
  color: #000;
  text-transform: uppercase;
}
.wrap_head h1 span {
  color: #fff;
  font-size: 39px;
  font-family: "Roboto Slab";
  font-weight: normal;
  text-transform: none;
}
.wrap_form {
  text-align: center;
  margin-top: 130px;
}
.wrap_form form {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  width: 620px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
.wrap_form form h3 {
  font-family: 'Muller';
  font-weight: 500;
  margin-top: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  line-height: 1;
}
.wrap_form form h4 {
  margin-top: 3px;
  text-align: center;
  color: #50df04;
  font-family: 'Muller';
  font-style: italic;
  font-weight: 300;
  font-size: 22px;
}
.wrap_form_input {
  /* Firefox 19+ */
  /* Firefox 18- */
}
.wrap_form_input input {
  width: 460px;
  margin-top: 20px;
  border: 2px solid #fff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background: none;
  color: #fff;
  padding: 20px 15px;
  outline: none;
  font-size: 27px;
  font-family: 'Muller';
  font-weight: 200;
  line-height: 1;
}
.wrap_form_input input:first-child {
  margin-top: 15px;
}
.wrap_form_input ::-webkit-input-placeholder {
  color: #fff;
  font-size: 27px;
  font-family: 'Muller';
  font-weight: 200;
}
.wrap_form_input ::-moz-placeholder {
  color: #fff;
  font-size: 27px;
  font-family: 'Muller';
  font-weight: 200;
}
.wrap_form_input :-moz-placeholder {
  color: #fff;
  font-size: 27px;
  font-family: 'Muller';
  font-weight: 200;
}
.wrap_form_input :-ms-input-placeholder {
  color: #fff;
  font-size: 27px;
  font-family: 'Muller';
  font-weight: 200;
}
.wrap_form_button {
  margin: 20px 0;
}
.wrap_form_button button {
  padding: 15px 0;
  color: #000;
  text-align: center;
  width: 460px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background: #fff;
  font-family: 'Muller';
  font-weight: 500;
  font-size: 27px;
  outline: none;
  border: 2px solid #fff;
}
.wrap_form_button button:active {
  color: #fff;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  background: none;
}
.best_head {
  margin: 0;
  padding: 20px 0;
  -webkit-box-shadow: 0px 3px 70px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.08);
  text-align: center;
  z-index: 2;
  position: relative;
}
.best_head h2 {
  font-size: 41px;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
}
.best_content {
  z-index: 1;
  position: relative;
  padding-top: 210px;
  height: 1190px;
  background: url(../img/bg_best.png) center top no-repeat;
}
.best_content_blocks {
  margin: 0;
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.best_content_blocks .block {
  display: inline-block;
  text-align: center;
  width: 330px;
}
.best_content_blocks .block h4 {
  font-size: 30px;
  font-family: 'Muller';
  font-weight: 500;
  line-height: 1;
  margin-top: 20px;
}
.best_content_blocks .block h3 {
  font-size: 44px;
  font-family: 'Roboto Slab';
  line-height: 1;
}
.best_content_blocks .block h3 b {
  font-size: 49px;
}
.best_content_blocks .block h3 span {
  font-size: 40px;
  color: #d89e4f;
  font-weight: bold;
}
.best_content_blocks .block:nth-child(3) {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.best_content_blocks .block:nth-child(4),
.best_content_blocks .block:first-child {
  margin-right: 290px;
}
.products {
  background: #f5f5f5;
  margin-top: -260px;
  padding-top: 190px;
  padding-bottom: 120px;
}
.products_blocks {
  position: relative;
  z-index: 3;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.products_blocks:first-child .one {
  background: url(../img/product_1.png) center no-repeat;
}
.products_blocks:first-child .two {
  background: url(../img/product_2.png) center no-repeat;
}
.products_blocks:first-child .three {
  background: url(../img/product_3.png) center no-repeat;
}
.products_blocks:nth-child(2) .one {
  background: url(../img/product_4.png) center no-repeat;
}
.products_blocks:nth-child(2) .two {
  background: url(../img/product_5.png) center no-repeat;
}
.products_blocks:nth-child(2) .three {
  background: url(../img/product_6.png) center no-repeat;
}
.products_blocks:nth-child(3) .one {
  background: url(../img/product_7.png) center no-repeat;
}
.products_blocks:nth-child(3) .two {
  background: url(../img/product_8.png) center no-repeat;
}
.products_blocks:nth-child(3) .three {
  background: url(../img/product_9.png) center no-repeat;
}
.products_blocks:nth-child(4) .one {
  background: url(../img/product_10.png) center no-repeat;
}
.products_blocks:nth-child(4) .two {
  background: url(../img/product_11.png) center no-repeat;
}
.products_blocks:nth-child(4) .three {
  background: url(../img/product_12.png) center no-repeat;
}
.products_blocks:nth-child(5) .one {
  background: url(../img/product_13.png) center no-repeat;
}
.products_blocks:nth-child(5) .two {
  background: url(../img/product_14.png) center no-repeat;
}
.products_blocks:nth-child(5) .three {
  background: url(../img/product_15.png) center no-repeat;
}
.products_blocks a {
  margin-top: 63px;
  height: 220px;
  width: 220px;
  margin-right: 20px;
}
.products_blocks a .hover {
  display: none;
  position: absolute;
  width: 212px;
  height: 212px;
  left: 4px;
  top: 4px;
  border: 2px solid #000;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.products_blocks a .block {
  width: 220px;
  height: 220px;
  text-align: center;
  position: relative;
  margin-right: 100px;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.09);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.products_blocks a .block:hover {
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  transform: scale(1.03);
}
.products_blocks a .block:hover .hover {
  display: block;
}
.products_blocks a h5 {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Muller';
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 17px;
}
.products_blocks a:nth-child(3n) {
  margin-right: 0px;
}
.friends {
  height: 646px;
  background: url(../img/bg_friends.jpg) center no-repeat;
}
.friends_head {
  padding-top: 60px;
}
.friends_head h2 {
  font-family: "Roboto Slab";
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}
.friends_content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.friends_content .block {
  margin-right: 20px;
  margin-top: 45px;
  width: 220px;
  height: 416px;
  text-align: center;
  position: relative;
  -webkit-box-shadow: 0 0 20px 1px #000;
  box-shadow: 0 0 20px 1px #000;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.friends_content .block:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  transform: scale(1.03);
  -webkit-box-shadow: 0 0 25px 1px #000;
  box-shadow: 0 0 25px 1px #000;
}
.friends_content .block h3 {
  font-family: "Roboto Slab";
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.friends_content .block p {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  line-height: 1;
}
.friends_content .block a {
  font-family: 'Muller';
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  color: #000;
}
.friends_content .block a img {
  margin-right: 3px;
}
.friends_content .one {
  background: url(../img/photo_dronov.jpg) center top no-repeat;
}
.friends_content .two {
  background: url(../img/photo_potolkov.jpg) center top no-repeat;
}
.friends_content .three {
  background: url(../img/photo_gotin.jpg) center top no-repeat;
}
.friends_content .four {
  background: url(../img/photo_masevi.jpg) center top no-repeat;
  margin-right: 0;
}
.dover_head {
  margin-top: 45px;
  margin-bottom: 30px;
}
.dover_head h2 {
  font-family: "Roboto Slab";
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}
.dover_content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-align-items: center;
  align-items: center;
}
.dover_content .logo {
  margin-top: 30px;
  margin-right: 50px;
}
.dover_content .logo:last-child {
  margin-right: 0;
}
.dover_content .logo img {
  display: inline-block;
}
.map {
  background: url(../img/map.jpg) center left no-repeat;
  height: 952px;
  margin-top: 100px;
  padding-top: 178px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.map .empty {
  width: 460px;
}
.map_text {
  width: 460px;
  height: 610px;
  margin-right: 20px;
  padding-bottom: 20px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
.map_text h3 {
  font-size: 35px;
  font-family: 'Roboto Slab';
  font-weight: bold;
  color: #fff;
  padding: 30px 0 25px;
}
.map_text p {
  color: #fff;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 40px;
  line-height: 1.05;
}
.map_text p span {
  font-size: 35px;
  color: #c6c5c5;
  font-weight: 300;
}
.map_text p .mail {
  font-size: 40px;
  color: #fff;
  font-weight: 300;
}
.map_text_zal p {
  font-size: 35px;
  font-weight: normal;
  line-height: 1.2;
}
.footer {
  height: 164px;
  background: url(../img/bg_footer.jpg) center left no-repeat;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.footer .button {
  font-family: "Roboto";
  font-weight: 300;
  color: #000;
  font-size: 24px;
  padding: 12px 29px;
  border: 1px solid #000;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  display: block;
  outline: none;
  margin-top: 63px;
  margin-right: 23px;
}
.footer p {
  font-family: 'Roboto Slab';
  font-weight: 300;
  font-size: 24px;
  color: #000;
  margin-top: 75px;
  margin-right: 32px;
}
.footer span {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: italic;
  display: block;
  text-align: right;
  font-size: 24px;
  color: #000;
}
.footer span:first-child {
  margin-top: 30px;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 25px;
}
.footer .tel {
  text-align: right;
  display: block;
  color: #000;
  font-size: 30px;
  font-family: 'Muller';
  font-weight: 300;
}
.footer .tel b {
  font-family: 'Muller';
  font-weight: 500;
  font-size: 33px;
}
.toggle-menu {
  display: none;
  position: absolute;
  left: 20px;
  top: 120px;
  z-index: 10;
  /* активное состояние, т.е. меню открыто */
}
.toggle-menu .cmn-toggle-switch {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
.toggle-menu .cmn-toggle-switch:focus {
  outline: none;
}
.toggle-menu .cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 25px;
  left: 10px;
  right: 10px;
  height: 3px;
  background: #375525;
}
.toggle-menu .cmn-toggle-switch span::before,
.toggle-menu .cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #375525;
  content: "";
}
.toggle-menu .cmn-toggle-switch span::before {
  top: 12px;
}
.toggle-menu .cmn-toggle-switch span::after {
  bottom: 12px;
}
.toggle-menu .cmn-toggle-switch__htx {
  background-color: #E8D69F;
}
.toggle-menu .cmn-toggle-switch__htx span {
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.toggle-menu .cmn-toggle-switch__htx span::before,
.toggle-menu .cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.2s, 0.2s;
  transition-duration: 0.2s, 0.2s;
  -webkit-transition-delay: 0.2s, 0;
  transition-delay: 0.2s, 0;
}
.toggle-menu .cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}
.toggle-menu .cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}
.toggle-menu .cmn-toggle-switch__htx.active {
  background-color: #E8D69F;
}
.toggle-menu .cmn-toggle-switch__htx.active span {
  background: none;
}
.toggle-menu .cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.toggle-menu .cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.toggle-nav {
  position: absolute;
  background-color: #E8D69F;
  z-index: 9;
  top: 117px;
  left: 0px;
  display: none;
  width: 96%;
  margin-right: 2%;
  margin-left: 2%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.6);
}
.toggle-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.toggle-nav ul li {
  position: relative;
  text-align: center;
  float: left;
  width: 100%;
  padding: 5px;
  margin: 2%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
.toggle-nav ul li:hover a,
.toggle-nav ul li:active a {
  color: #eee;
}
.toggle-nav ul li a {
  outline: none;
  text-transform: uppercase;
  color: #375525;
  padding-left: 10px;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
#menu.top-fixed {
  position: fixed;
  top: 20px;
  right: 0;
  z-index: 99;
  width: 100%;
  height: 35px;
}
.slide {
  display: none;
}
.wrap-product {
  background: url(../img/bg_product.jpg) top right no-repeat;
  height: 100%;
}
.wrap-product .wrap_contact_medium {
  color: #6c6c6c;
}
.wrap-product_text {
  text-align: center;
  margin-top: 114px;
  height: 100%;
  line-height: 30px;
  color: #000;
}
.wrap-product_text ul,
.wrap-product_text h2 {
  display: inline-block;
  text-align: left;
  width: 960px;
  font-size: 20px;
  font-family: 'roboto';
  font-weight: normal;
}
.wrap-product_text h2 {
  margin-bottom: 20px;
  font-weight: 300;
}
.wrap-product_text ul {
  margin-bottom: 20px;
}
.wrap-product_text ul li {
  list-style-type: disc;
  list-style-position: inside;
}
.wrap-product_text p {
  font-size: 20px;
  display: inline-block;
  text-align: left;
  width: 960px;
  font-weight: 300;
  font-family: 'roboto';
  margin: 0;
}
.wrap-product-brd {
  background: url(../img/bg_product-brd.jpg) top right no-repeat;
}
.wrap-product-brd .wrap_contact_medium {
  color: #6c6c6c;
}
.wrap-pr-doska {
  background: url(../img/bg_product-doska.jpg) top right no-repeat;
}
.wrap-pr-jalusi {
  background: none;
}
.wrap-pr-jalusi .wrap_contact_medium {
  color: #6c6c6c;
}
.wrap-pr-jalusi .block_img {
  margin-top: 20px;
}
.wrap-pr-imit {
  background: url(../img/bg_product-imit.jpg) top right no-repeat;
}
.wrap-pr-imit .wrap_contact_medium {
  color: #6c6c6c;
}
.wrap-pr-mebel {
  background: url(../img/bg_product-mebel.jpg) top center no-repeat;
  padding-bottom: 107px;
}
.wrap-pr-mebel .wrap_contact_medium {
  color: #6c6c6c;
}
.wrap-pr-pd {
  background: url(../img/bg_product-podoconnic.jpg) top center no-repeat;
  padding-bottom: 107px;
}
.wrap-pr-pd .wrap_contact_medium {
  color: #6c6c6c;
}
.wrap-pr-st {
  background: url(../img/bg_product-stol.jpg) top center no-repeat;
  padding-bottom: 107px;
}
.wrap-pr-st .wrap_contact_medium {
  color: #6c6c6c;
}
.wrap-pr-sauna {
  background: url(../img/bg_product-sauna.jpg) top right no-repeat;
}
.wrap-pr-sauna .wrap_contact_medium {
  color: #6c6c6c;
}
.wrap-pr-sauna .wrap-product_text h2 {
  margin-bottom: 0;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.sauna-sl-1,
.sauna-dveri {
  text-align: center;
  width: 100%;
  margin-top: 40px;
}
.sauna-sl-1_container,
.sauna-dveri_container {
  display: inline-block;
  width: 960px;
}
.sauna-sl-1_wrap,
.sauna-dveri_wrap {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.sauna-sl-1 .block,
.sauna-dveri .block {
  width: 300px;
  height: 100%;
  margin-bottom: 10px;
  margin-right: 20px;
  text-align: center;
}
.sauna-sl-1 .block img,
.sauna-dveri .block img {
  -webkit-box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
}
.sauna-sl-1 .slick-arrow,
.sauna-dveri .slick-arrow {
  position: absolute;
  top: 75px;
  cursor: pointer;
}
.sauna-sl-1 .arrow-prev,
.sauna-dveri .arrow-prev {
  left: -70px;
}
.sauna-sl-1 .arrow-next,
.sauna-dveri .arrow-next {
  right: -50px;
}
.sauna-dveri .sauna-sl-4_wrap .block {
  height: 300px;
}
.sauna-dveri .sauna-sl-4_wrap .block img {
  height: 300px;
}
.sauna-sl-2 {
  background: url(../img/bg_product-product.png) top center #f7f7f7 no-repeat;
  margin-top: 50px;
  padding-top: 187px;
}
.sauna-sl-2 h2 {
  font-family: 'roboto';
  font-size: 19px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 30px;
}
.sauna-sl-2 .block_button {
  margin-bottom: 80px;
}
.sauna-dveri .block_button {
  margin-bottom: 150px;
}
.sauna-dveri .slick-arrow {
  top: 35%;
}
.table {
  background: url(../img/bg_product-product.png) top center #f7f7f7 no-repeat;
  margin-top: 50px;
  padding-top: 187px;
  text-align: center;
}
.table .table_wrap {
  display: inline-block;
  font-family: 'Roboto';
}
.table .table_wrap .table_head {
  border: 1px solid #000;
  height: 55px;
  background: #d89e4f;
  width: 100%;
}
.table .table_wrap .table_head img {
  display: inline-block;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}
.table .table_wrap .table_head h3 {
  font-size: 25px;
  text-align: right;
  margin-right: 175px;
}
.table .table_wrap .table_head .table_col {
  display: block;
  width: 148px;
  height: 27px;
  border: 1px solid #000;
  border-bottom: none;
  border-right: none;
  float: right;
}
.table .table_wrap .table_head .table_col span {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}
.table .table_wrap .table_row {
  height: 55px;
  width: 100%;
  background: #ccc;
  border-right: 1px solid #000;
}
.table .table_wrap .table_row .table_col {
  width: 148px;
  border: 1px solid  #000;
  border-top: none;
  border-right: none;
  float: left;
  height: 55px;
  font-size: 25px;
  font-weight: 500;
  line-height: 2;
}
.table .table_wrap .table_row .table_col_large {
  width: 493px;
  height: 55px;
  border-left: 1px solid #000;
  font-size: 25px;
  line-height: 2;
  font-weight: normal;
}
.table-brd {
  padding-top: 157px;
  text-align: center;
}
.table-brd .col-sm-6 {
  text-align: right;
}
.table-brd .col-sm-6:last-child {
  text-align: left;
}
.table-brd .table_wrap {
  margin-top: 30px;
  text-align: center;
  display: inline-block;
  width: 460px;
}
.table-brd .table_wrap .table_head {
  position: relative;
  height: 55px;
  background: #d89e4f;
}
.table-brd .table_wrap .table_head h3 {
  margin-top: 9px;
  font-size: 18px;
  margin-right: 0;
  text-align: center;
  line-height: 1;
}
.table-brd .table_wrap .table_head img {
  left: 0;
  float: none;
  position: absolute;
}
.table-brd .table_wrap .table_head .table_col {
  width: 148px;
  float: left;
}
.table-brd .table_wrap .table_head .table_col:last-child {
  border-right: 1px solid #000;
}
.table-brd .table_wrap .table_head .table-brd_plus {
  padding-left: 80px;
  text-align: center;
}
.table-brd .table_wrap .table_row .table_col {
  width: 50%;
  font-size: 20px;
  line-height: 1;
  padding-top: 15px;
}
.table-j {
  text-align: center;
}
.table-j .table-j_wrap {
  display: inline-block;
  width: 940px;
  font-family: 'roboto';
}
.table-j .table-j_wrap .table-j_head {
  position: relative;
  border: 1px solid  #000;
  border-bottom: none;
  background: #d89e4f;
  height: 55px;
  width: 100%;
  text-align: right;
}
.table-j .table-j_wrap .table-j_head img {
  position: absolute;
  left: 45px;
  top: 5px;
}
.table-j .table-j_wrap .table-j_head .table-j_col {
  width: 85.8%;
  display: inline-block;
  text-align: center;
  margin-top: 29px;
  border: 1px solid  #000;
  border-right: none;
  border-bottom: none;
  height: 25px;
  font-size: 18px;
}
.table-j .table-j_wrap .table-j_row {
  background: #ccc;
}
.table-j .table-j_wrap .table-j_row .table-j_col {
  background: #ccc;
  float: left;
  width: 14.28%;
  border: 1px solid  #000;
  border-right: none;
  border-bottom: none;
  font-size: 25px;
  font-weight: 500;
  line-height: 1;
  height: 25px;
}
.table-j .table-j_wrap .table-j_row .table-j_col:first-child {
  font-weight: normal;
  font-size: 18px;
  padding-top: 3px;
  background: #d89e4f;
}
.table-j .table-j_wrap .table-j_row .table-j_col:last-child {
  width: 14.3%;
  border-right: 1px solid  #000;
}
.table-j .table-j_wrap .first {
  font-size: 18px;
}
.table-j .table-j_wrap .first .table-j_col {
  background: #d89e4f;
  font-weight: normal;
  font-size: 18px;
  padding-top: 3px;
}
.table-j .table-j_wrap .last .table-j_col {
  border-bottom: 1px solid #000;
}
.table-mebel .table-j_wrap {
  width: 940px;
}
.table-mebel .table-j_wrap .table-j_head {
  height: 30px;
}
.table-mebel .table-j_wrap .table-j_head h3 {
  font-size: 18px;
  text-align: center;
  padding-top: 5px;
}
.table-mebel .table-j_wrap .table-j_row .table-j_col {
  height: 30px;
  width: 9.09%;
}
.table-mebel .table-j_wrap .table-j_row .table-j_col:first-child {
  background: #d89e4f;
}
.table-mebel .table-j_wrap .table-j_row .table-j_col:last-child {
  width: 9.11%;
}
.table-mebel .table-j_wrap .first img {
  width: 22px;
}
.table-mebel-small {
  margin-top: 70px;
  text-align: center;
}
.table-mebel-small .table-j_wrap {
  width: 560px;
}
.table-mebel-small .table-j_wrap .table-j_row .table-j_col {
  width: 12.5%;
  height: 30px;
}
.table-mebel-small .table-j_wrap .table-j_row .table-j_col:last-child {
  width: 12.5%;
}
.table-st .table-j_wrap {
  width: 780px;
}
.table-st .table-j_wrap .table-j_head h3 {
  font-size: 16px;
  text-align: center;
  line-height: 1;
  padding-top: 10px;
  padding-left: 70px;
}
.table-st .table-j_wrap .table-j_head .table-j_col {
  width: 584px;
  margin-top: 3px;
}
.table-st .table-j_wrap .table-j_row .table-j_col {
  width: 25%;
}
.table-st .table-j_wrap .table-j_row .table-j_col:first-child {
  background: #d89e4f;
}
.table-st .table-j_wrap .table-j_row .table-j_col:last-child {
  width: 25%;
}
.pogonaj_razmer {
  background: url(../img/bg_product-product.png) top center #f7f7f7 no-repeat;
  margin-top: 50px;
  padding-top: 187px;
  margin-bottom: 100px;
  font-family: roboto;
  text-align: center;
}
.pogonaj_razmer_content {
  width: 960px;
  display: inline-block;
  text-align: left;
  margin-bottom: 50px;
}
.pogonaj_razmer_content h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}
.pogonaj_razmer_content ul {
  margin-top: 50px;
}
.pogonaj_razmer_content ul h3 {
  font-weight: 500;
  font-size: 25px;
}
.pogonaj_razmer_content ul li {
  font-size: 20px;
}
.pogonaj_razmer_blocks {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.pogonaj_razmer_blocks .blocks {
  text-align: center;
}
.pogonaj_razmer_blocks .blocks .block {
  display: inline-block;
  float: left;
  margin-right: 18px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.27);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.pogonaj_razmer_blocks .blocks .block:hover {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}
.block_button {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}
.block_button a {
  outline: none;
  font-size: 35px;
  font-weight: 300;
  color: #000;
  border: 2px solid  #000;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  padding: 15px 25px;
  line-height: 1;
  text-shadow: 1px 1px 2px #000;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.7);
}
.otdelka {
  margin-top: 90px;
  margin-bottom: 130px;
}
.otdelka_head {
  text-align: center;
}
.otdelka_head h2 {
  font-size: 30px;
  font-family: 'Roboto Slab';
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.otdelka_content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.otdelka_content .block {
  height: 447px;
  width: 300px;
  margin-top: 19px;
  margin-right: 21px;
}
.otdelka_content .block:nth-child(2) {
  margin-top: 0;
}
.otdelka_content .block:nth-child(2) img {
  margin-top: 19px;
}
.otdelka_content .block:last-child {
  margin-right: 0;
}
.otdelka_content .block img {
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.otdelka_content .block img:hover {
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  -o-transform: scale(1.06);
  transform: scale(1.06);
}
.download {
  display: none;
}
.modal {
  background: rgba(0, 0, 0, 0.4);
}
.modal .modal-dialog {
  position: relative;
}
.modal .modal-dialog .wrap_form {
  margin-top: 0;
}
.modal .modal-dialog .wrap_form .close {
  outline: none;
  color: #eee;
  opacity: 1;
  float: none;
  font-size: 44px;
  position: absolute;
  right: 30px;
  top: 10px;
}
.modal .modal-dialog .wrap_form .close:hover,
.modal .modal-dialog .wrap_form .close:active {
  color: #fff;
}
/* -----------------------------Adaptive--------------------------------- */
@media only screen and (max-width: 1200px) {
  .map {
    background: url(../img/map.jpg) -300px center no-repeat;
  }
  .sauna-sl-1_container {
    width: 630px;
  }
  .sauna-sl-1_wrap {
    height: 138px;
  }
  .sauna-sl-1_wrap .block {
    height: 100%;
  }
  .sauna-sl-1 .slick-arrow {
    top: 47px;
  }
  .sauna-sl-1 .slick-arrow img {
    width: 30px;
  }
  .sauna-sl-1 .arrow-prev {
    left: -45px;
  }
  .sauna-sl-1 .arrow-next {
    right: -25px;
  }
  .sauna-dveri .slick-arrow {
    top: 40%;
  }
  .sauna-dveri .sauna-sl-4_wrap .block {
    height: 220px;
  }
  .sauna-dveri .sauna-sl-4_wrap .block img {
    height: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .wrap_logo img {
    width: 183px;
  }
  .wrap_menu ul {
    margin-top: 51px;
  }
  .wrap_menu ul li {
    margin-right: 16px;
  }
  .wrap_menu ul li a {
    font-size: 17px;
  }
  .wrap_menu ul .one a span {
    left: 3px;
  }
  .wrap_menu ul .three a span {
    left: 23%;
  }
  .wrap_contact span {
    font-size: 19px;
  }
  .wrap_contact span b {
    font-size: 24px;
  }
  .best_content_blocks .block:first-child,
  .best_content_blocks .block:nth-child(4) {
    margin-right: 90px;
  }
  .products_blocks a {
    margin-right: 20px;
  }
  .friends {
    height: 100%;
    padding-bottom: 50px;
    background-size: cover;
  }
  .friends_content .center {
    width: 50%;
    text-align: center;
  }
  .friends_content .center .block {
    display: inline-block;
  }
  .friends_content .two,
  .friends_content .four {
    margin-right: 0;
  }
  .dover_content .logo {
    width: 30%;
    text-align: center;
  }
  .dover_content .logo img {
    display: inline-block;
  }
  .footer p {
    font-size: 20px;
  }
  .footer span {
    font-size: 15px;
  }
  .footer span:first-child {
    font-size: 20px;
  }
  .footer .tel {
    font-size: 20px;
  }
  .footer .tel b {
    font-size: 23px;
  }
  .wrap-product_text p,
  .wrap-product_text ul,
  .wrap-product_text h2 {
    width: 100%;
    padding: 0 20px;
  }
  .table .table_wrap {
    width: 98%;
    margin-right: 1%;
    margin-left: 1%;
  }
  .table .table_wrap .table_head h3 {
    margin-left: 10px;
    font-size: 20px;
  }
  .table .table_wrap .table_head .table_col {
    width: 18.89%;
    height: 31px;
  }
  .table .table_wrap .table_row .table_col {
    width: 18.85%;
  }
  .table .table_wrap .table_row .table_col_large {
    width: 43.4%;
  }
  .table-brd .table_wrap .table_head .table-brd_plus {
    padding-left: 17.5%;
  }
  .table-brd .table_wrap .table_head h3 {
    font-size: 16px;
  }
  .table-brd .table_wrap .table_head .table_col {
    width: 39.3%;
    height: 28px;
  }
  .table-brd .table_wrap .table_head .table_col span {
    font-size: 17px;
  }
  .table-brd .table_wrap .table_row .table_col {
    width: 50%;
    font-size: 18px;
    padding-top: 20px;
  }
  .table-st .table-j_wrap .table-j_head .table-j_col {
    width: 584px;
  }
  .map {
    background: url(../img/map.jpg) -500px center no-repeat;
  }
  .pogonaj_razmer_content {
    width: 100%;
  }
  .pogonaj_razmer_content ul {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 950px) {
  .friends_content .block:nth-child(3) {
    margin-right: 0;
  }
  .table-j .table-j_wrap {
    width: 737px;
  }
  .table-j .table-j_wrap .table-j_head img {
    left: 30px;
  }
  .table-st .table-j_wrap .table-j_head .table-j_col {
    width: 552px;
  }
}
@media only screen and (max-width: 900px) {
  .wrap_head h1 {
    font-size: 40px;
  }
  .wrap_head h1 span {
    font-size: 35px;
  }
  .wrap_form form {
    width: 115%;
  }
  .modal .modal-dialog .wrap_form {
    width: 90%;
  }
}
@media only screen and (max-width: 824px) {
  .footer {
    background-size: cover;
    background-position: center right;
    height: 100%;
  }
  .footer span {
    text-align: center;
  }
  .footer span:first-child {
    margin-top: 10px;
  }
  .table .table_wrap .table_head .table_col span {
    font-size: 15px;
    line-height: 1.5;
  }
  .table .table_wrap .table_row .table_col {
    font-size: 19px;
  }
  .table-brd .table_wrap .table_head .table-brd_plus {
    padding-left: 17.5%;
  }
  .table-brd .table_wrap .table_head .table_col {
    width: 39.3%;
  }
  .table-brd .table_wrap .table_row .table_col {
    width: 50%;
    font-size: 18px;
    padding-top: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .wrap_logo {
    text-align: left;
    padding-left: 17px;
  }
  .wrap_form form {
    width: 90%;
  }
  .wrap_menu .menu_top {
    display: none;
  }
  .wrap_head h1 {
    font-size: 30px;
  }
  .wrap_head h1 span {
    font-size: 25px;
  }
  .toggle-menu {
    display: block;
  }
  .best_head h2 {
    font-size: 31px;
  }
  .best_content {
    padding-top: 20px;
  }
  .best_content_blocks .block {
    margin-top: 40px;
    width: 100%;
  }
  .best_content_blocks .block:first-child,
  .best_content_blocks .block:nth-child(4) {
    margin-right: 0;
  }
  .best_content_blocks .block:nth-child(3) {
    margin-bottom: 0;
    margin-top: 40px;
  }
  .dover_content {
    display: none;
  }
  .slide {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .map {
    background: url(../img/map.jpg) -700px center no-repeat;
    height: 852px;
  }
  .map_text {
    height: 510px;
  }
  .map_text h3 {
    font-size: 25px;
  }
  .map_text p {
    font-size: 29px;
  }
  .map_text p span {
    font-size: 25px;
  }
  .map_text p .mail {
    font-size: 30px;
  }
  .otdelka_content .block {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }
  .otdelka_content .block:nth-child(2) {
    height: 100%;
    width: 600px;
  }
  .modal .modal-dialog .wrap_form {
    width: 100%;
  }
  .modal .modal-dialog .wrap_form .close {
    right: 50px;
  }
  .table .table_wrap .table_head h3 {
    margin-right: 144px;
  }
  .table-brd .table_wrap .table_head h3 {
    margin-left: 0;
    margin-right: 0;
  }
  .table-brd .table_wrap .table_head .table-brd_plus {
    padding-left: 17.5%;
  }
  .table-brd .table_wrap .table_head .table_col {
    width: 39.3%;
    height: 28px;
  }
  .table-brd .table_wrap .table_row .table_col {
    width: 50%;
    font-size: 18px;
    padding-top: 20px;
  }
  .table-j .table-j_wrap {
    width: 484px;
  }
  .table-j .table-j_wrap .table-j_head img {
    left: 10px;
  }
  .table-j .table-j_wrap .table-j_head h3 {
    font-size: 17px;
  }
  .table-st .table-j_wrap .table-j_head h3 {
    font-size: 13px;
  }
  .table-st .table-j_wrap .table-j_head .table-j_col {
    margin-top: 6px;
    width: 362px;
  }
  .wrap-pr-doska {
    background: url(../img/bg_product-doska.jpg) -900px top no-repeat;
  }
  .wrap-pr-jalusi .block_img img {
    width: 100%;
  }
  .wrap-pr-mebel {
    padding-bottom: 30px;
  }
  .wrap-pr-pd {
    background-position: 80% 0;
  }
  .wrap-pr-st {
    background-position: 80% 0;
  }
  .sauna-sl-1_container {
    width: 80%;
  }
  .sauna-sl-1_wrap {
    height: 100%;
  }
  .sauna-sl-1_wrap .block {
    height: 100%;
    margin-bottom: 10px;
  }
  .sauna-sl-1 .slick-arrow {
    top: 35%;
  }
  .sauna-sl-1 .slick-arrow img {
    width: 30px;
  }
  .sauna-sl-1 .arrow-prev {
    left: -10%;
  }
  .sauna-sl-1 .arrow-next {
    right: -5%;
  }
  .sauna-dveri .slick-arrow {
    top: 40%;
  }
  .sauna-dveri .sauna-sl-4_wrap .block {
    height: 339px;
  }
  .sauna-dveri .sauna-sl-4_wrap .block img {
    height: 100%;
  }
}
@media only screen and (max-width: 718px) {
  .friends_content .block:nth-child(2) {
    margin-right: 0;
  }
  .friends_content .block:nth-child(3) {
    margin-right: 20px;
  }
  .table-st .table-j_wrap .table-j_head .table-j_col {
    width: 362px;
  }
}
@media only screen and (max-width: 644px) {
  .footer {
    padding-bottom: 20px;
  }
  .footer .button {
    margin-top: 40px;
  }
  .footer p {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .otdelka_content .block:nth-child(2) {
    width: 100%;
  }
}
@media only screen and (max-width: 640px) {
  .wrap_form {
    /* Firefox 19+ */
    /* Firefox 18- */
  }
  .wrap_form form h3 {
    font-size: 25px;
  }
  .wrap_form form h4 {
    font-size: 16px;
  }
  .wrap_form_input input {
    font-size: 20px;
    width: 80%;
  }
  .wrap_form ::-webkit-input-placeholder {
    font-size: 20px;
  }
  .wrap_form ::-moz-placeholder {
    font-size: 20px;
  }
  .wrap_form :-moz-placeholder {
    color: #fff;
    font-size: 20px;
  }
  .wrap_form :-ms-input-placeholder {
    font-size: 20px;
  }
  .wrap_form_button button {
    font-size: 20px;
    width: 80%;
  }
  .products_blocks a {
    width: 100%;
    text-align: center;
    margin-right: 0;
  }
  .products_blocks a .block {
    margin-right: 0;
    display: inline-block;
  }
  .map_text {
    width: 90%;
    margin: 0 20px;
  }
  .table .table_wrap .table_head h3 {
    margin-right: 20%;
    font-size: 20px;
  }
  .table .table_wrap .table_head .table_col {
    margin-top: 5px;
    height: 26px;
  }
  .table .table_wrap .table_row .table_col {
    font-size: 18px;
  }
  .table .table_wrap .table_row .table_col_large {
    line-height: 1;
    padding-top: 10px;
  }
  .table-brd .table_wrap .table_head {
    text-align: center;
  }
  .table-brd .table_wrap .table_head h3 {
    margin-left: 0;
    margin-right: 0;
    font-size: 16px;
  }
  .table-brd .table_wrap .table_head .table-brd_plus {
    padding-left: 17.5%;
  }
  .table-brd .table_wrap .table_head .table_col {
    width: 39.3%;
    height: 24px;
  }
  .table-brd .table_wrap .table_row .table_col {
    width: 50%;
    font-size: 16px;
    padding-top: 20px;
  }
  .table-doska .table_wrap .table_head .table_col {
    height: 26px;
  }
  .table-doska .table_wrap .table_row .table_col {
    font-size: 16px;
    line-height: 1;
    padding-top: 10px;
  }
  .table-doska .table_wrap .table_row .table_col_large {
    line-height: 1;
    padding-top: 10px;
  }
  .wrap-pr-imit {
    background-position: -1100px 0px;
  }
  .sauna-dveri .slick-arrow {
    top: 40%;
  }
  .sauna-dveri .sauna-sl-4_wrap .block {
    height: 100%;
    text-align: center;
    margin-right: 0;
  }
  .sauna-dveri .sauna-sl-4_wrap .block img {
    display: inline-block;
    height: 100%;
    width: 70%;
  }
}
@media only screen and (max-width: 520px) {
  .best_head h2 {
    font-size: 27px;
  }
  .best_content_blocks .block h3 {
    font-size: 34px;
  }
  .best_content_blocks .block h3 b {
    font-size: 38px;
  }
  .best_content_blocks .block h3 span {
    font-size: 36px;
  }
  .best_content_blocks .block h4 {
    font-size: 20px;
  }
  .footer .button {
    margin-right: 0;
  }
  .footer p {
    margin-right: 0;
  }
  .table .table_wrap {
    width: 300px;
  }
  .table .table_wrap .table_head .table_col {
    height: 27px;
    width: 75px;
  }
  .table .table_wrap .table_row {
    height: 80px;
  }
  .table .table_wrap .table_row .table_col {
    width: 75px;
    height: 80px;
    background: #ccc;
    font-size: 16px;
  }
  .table .table_wrap .table_row .table_col:last-child {
    width: 75px;
  }
  .table .table_wrap .table_row .table_col_large {
    width: 74px;
    height: 80px;
  }
  .table-brd .table_wrap {
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
  }
  .table-brd .table_wrap .table_head {
    text-align: center;
  }
  .table-brd .table_wrap .table_head h3 {
    margin-left: 0;
    margin-right: 0;
    font-size: 16px;
  }
  .table-brd .table_wrap .table_head .table-brd_plus {
    padding-left: 17.5%;
  }
  .table-brd .table_wrap .table_head .table_col {
    width: 39.3%;
    height: 24px;
  }
  .table-brd .table_wrap .table_row {
    height: 55px;
  }
  .table-brd .table_wrap .table_row .table_col {
    width: 50%;
    font-size: 18px;
    height: 55px;
    padding-top: 20px;
  }
  .table-brd .table_wrap .table_row .table_col:last-child {
    width: 50%;
  }
  .table-doska .table_wrap .table_head .table_col {
    height: 26px;
  }
  .table-j .table-j_wrap {
    width: 360px;
  }
  .table-j .table-j_wrap .table-j_head img {
    width: 34px;
    left: 7px;
    top: 10px;
  }
  .table-j .table-j_wrap .table-j_head .table-j_col {
    font-size: 14px;
    padding-top: 5px;
    width: 308px;
  }
  .table-j .table-j_wrap .table-j_row .table-j_col {
    font-size: 14px;
    padding-top: 5px;
    width: 51px;
  }
  .table-j .table-j_wrap .table-j_row .table-j_col:first-child {
    font-size: 14px;
    padding-top: 5px;
  }
  .table-j .table-j_wrap .table-j_row .table-j_col:last-child {
    width: 54px;
  }
  .table-imit .table_wrap .table_head .table_col {
    height: 27px;
  }
  .table-st .table-j_wrap .table-j_head h3 {
    font-size: 13px;
    padding-top: 3px;
  }
  .table-st .table-j_wrap .table-j_head .table-j_col {
    margin-top: 0px;
    width: 269px;
  }
  .table-st .table-j_wrap .table-j_row .table-j_col {
    width: 90px;
  }
  .table-st .table-j_wrap .table-j_row .table-j_col:last-child {
    width: 90px;
  }
  .pogonaj_razmer_blocks .blocks {
    width: 430px;
  }
  .pogonaj_razmer_blocks .blocks .block {
    float: none;
    margin-right: 0;
  }
  .table-mebel .table-j_wrap .table-j_head h3 {
    font-size: 13px;
    padding-top: 7px;
  }
  .table-mebel .table-j_wrap .table-j_row .table-j_col {
    width: 32.5px;
  }
  .table-mebel .table-j_wrap .table-j_row .table-j_col:last-child {
    width: 35px;
  }
  .table-mebel .table-mebel-small .table-j_wrap .table-j_row .table-j_col {
    width: 45px;
  }
}
@media only screen and (max-width: 480px) {
  .wrap_head {
    margin-top: 100px;
  }
  .wrap_head h1 {
    font-size: 23px;
  }
  .wrap_head h1 span {
    font-size: 18px;
  }
  .friends_content .center {
    width: 100%;
  }
  .friends_content .center .block {
    margin-right: 0;
  }
  .dover_content .logo {
    text-align: center;
    margin-right: 0;
  }
  .dover_content .logo img {
    display: inline-block;
  }
  .modal .modal-dialog .wrap_form {
    width: 100%;
  }
  .modal .modal-dialog .wrap_form .close {
    font-size: 35px;
    right: 40px;
    top: 15px;
  }
  .map {
    background: url(../img/map.jpg) -800px center no-repeat;
  }
  .sauna-sl-1 h2 {
    text-align: center;
  }
  .sauna-sl-1_container {
    width: 70%;
  }
  .sauna-sl-1_wrap .block {
    margin-right: 10px;
  }
  .sauna-sl-1 .slick-arrow {
    top: 35%;
  }
  .sauna-sl-1 .slick-arrow img {
    width: 30px;
  }
  .sauna-sl-1 .arrow-prev {
    left: -15%;
  }
  .sauna-sl-1 .arrow-next {
    right: -15%;
  }
  .sauna-dveri .sauna-sl-4_wrap .slick-arrow {
    top: 40%;
  }
  .sauna-dveri .sauna-sl-4_wrap .block img {
    display: inline-block;
    height: 100%;
    width: 85%;
  }
}
@media only screen and (max-width: 420px) {
  .wrap_logo {
    text-align: center;
    width: 100%;
  }
  .wrap_logo img {
    margin-top: 20px;
  }
  .wrap_contact {
    margin-top: 20px;
    width: 100%;
    z-index: 0;
  }
  .wrap_form form {
    width: 100%;
  }
  .wrap_form_input input {
    width: 90%;
  }
  .wrap_form_button button {
    width: 90%;
  }
  .toggle-menu {
    z-index: 10;
    top: 96px;
  }
  .toggle-nav {
    top: 96px;
  }
  .best_content_blocks .block h3 {
    font-size: 22px;
  }
  .best_content_blocks .block h3 b {
    font-size: 24px;
  }
  .best_content_blocks .block h3 span {
    font-size: 23px;
  }
  .best_content_blocks .block h4 {
    font-size: 20px;
  }
  .products_blocks a {
    margin-right: 0;
  }
  .table .table_wrap .table_head .table_col span {
    font-size: 10px;
  }
  .table .table_wrap .table_row .table_col {
    font-size: 15px;
    line-height: 1;
    padding-top: 20px;
  }
  .table-brd .table_wrap .table_head {
    text-align: center;
  }
  .table-brd .table_wrap .table_head h3 {
    margin-left: 24px;
    margin-right: 0;
    font-size: 13px;
  }
  .table-brd .table_wrap .table_head .table-brd_plus {
    padding-left: 17.5%;
  }
  .table-brd .table_wrap .table_head .table_col {
    width: 39.3%;
    height: 27px;
  }
  .table-brd .table_wrap .table_head .table_col span {
    font-size: 14px;
  }
  .table-brd .table_wrap .table_row {
    height: 55px;
    border-right: 1px solid #000;
  }
  .table-brd .table_wrap .table_row .table_col {
    width: 50%;
    font-size: 14px;
    height: 55px;
    padding-top: 23px;
  }
  .table-j .table-j_wrap {
    width: 280px;
  }
  .table-j .table-j_wrap .table-j_head img {
    width: 25px;
    top: 15px;
  }
  .table-j .table-j_wrap .table-j_head .table-j_col {
    font-size: 12px;
    padding-top: 5px;
    width: 239px;
  }
  .table-j .table-j_wrap .table-j_row .table-j_col {
    font-size: 12px;
    padding-top: 5px;
    width: 40px;
  }
  .table-j .table-j_wrap .table-j_row .table-j_col:first-child {
    font-size: 12px;
    padding-top: 5px;
  }
  .table-j .table-j_wrap .table-j_row .table-j_col:last-child {
    width: 40px;
  }
  .table-st .table-j_wrap .table-j_head .table-j_col {
    width: 209px;
  }
  .table-st .table-j_wrap .table-j_row .table-j_col {
    width: 70px;
  }
  .table-st .table-j_wrap .table-j_row .table-j_col:last-child {
    width: 70px;
  }
  .table-mebel .table-j_wrap .table-j_head h3 {
    font-size: 10px;
    padding-top: 9px;
  }
  .table-mebel .table-j_wrap .table-j_row .table-j_col {
    font-size: 14px;
    padding-top: 8px;
    width: 25px;
  }
  .table-mebel .table-j_wrap .table-j_row .table-j_col:last-child {
    width: 30px;
  }
  .table-mebel .table-j_wrap .table-j_row .table-j_col:first-child {
    font-size: 9px;
    padding-top: 8px;
  }
  .table-mebel .table-j_wrap .first .table-j_col {
    font-size: 9px;
    padding-top: 8px;
  }
  .table-mebel .table-j_wrap .first img {
    width: 15px;
  }
  .table-mebel .table-mebel-small .table-j_wrap .table-j_row .table-j_col {
    width: 35px;
  }
  .pogonaj_razmer_blocks .blocks {
    width: 220px;
  }
  .pogonaj_razmer_blocks .blocks .block {
    float: none;
    margin-right: 0;
  }
}
@media only screen and (max-width: 360px) {
  .otdelka_content .block {
    height: 100%;
  }
  .otdelka_content .block img {
    width: 90%;
  }
  .otdelka_content .block:nth-child(2) {
    width: 100%;
  }
  .modal .modal-dialog .wrap_form .close {
    right: 15px;
    top: 15px;
  }
}
