@font-face {
    font-family: 'Roboto Slab';
    src: url('RobotoSlab-Bold.eot');
    src: url('RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
        url('RobotoSlab-Bold.woff2') format('woff2'),
        url('RobotoSlab-Bold.woff') format('woff'),
        url('RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Light.eot');
    src: url('Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Light.woff2') format('woff2'),
        url('Roboto-Light.woff') format('woff'),
        url('Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.eot');
    src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff'),
        url('Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-ThinItalic.eot');
    src: url('Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Roboto-ThinItalic.woff2') format('woff2'),
        url('Roboto-ThinItalic.woff') format('woff'),
        url('Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('RobotoSlab-Light.eot');
    src: url('RobotoSlab-Light.eot?#iefix') format('embedded-opentype'),
        url('RobotoSlab-Light.woff2') format('woff2'),
        url('RobotoSlab-Light.woff') format('woff'),
        url('RobotoSlab-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('RobotoSlab-Thin.eot');
    src: url('RobotoSlab-Thin.eot?#iefix') format('embedded-opentype'),
        url('RobotoSlab-Thin.woff2') format('woff2'),
        url('RobotoSlab-Thin.woff') format('woff'),
        url('RobotoSlab-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Thin.eot');
    src: url('Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Thin.woff2') format('woff2'),
        url('Roboto-Thin.woff') format('woff'),
        url('Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('RobotoSlab-Regular.eot');
    src: url('RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
        url('RobotoSlab-Regular.woff2') format('woff2'),
        url('RobotoSlab-Regular.woff') format('woff'),
        url('RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-LightItalic.eot');
    src: url('Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Roboto-LightItalic.woff2') format('woff2'),
        url('Roboto-LightItalic.woff') format('woff'),
        url('Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Medium.eot');
    src: url('Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Medium.woff2') format('woff2'),
        url('Roboto-Medium.woff') format('woff'),
        url('Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold.eot');
    src: url('Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Bold.woff2') format('woff2'),
        url('Roboto-Bold.woff') format('woff'),
        url('Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('MullerLight.eot');
    src: url('MullerLight.eot?#iefix') format('embedded-opentype'),
        url('MullerLight.woff2') format('woff2'),
        url('MullerLight.woff') format('woff'),
        url('MullerLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Muller Light';
    src: url('MullerLightItalic.eot');
    src: url('MullerLightItalic.eot?#iefix') format('embedded-opentype'),
        url('MullerLightItalic.woff2') format('woff2'),
        url('MullerLightItalic.woff') format('woff'),
        url('MullerLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('MullerRegular.eot');
    src: url('MullerRegular.eot?#iefix') format('embedded-opentype'),
        url('MullerRegular.woff2') format('woff2'),
        url('MullerRegular.woff') format('woff'),
        url('MullerRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('MullerMedium.eot');
    src: url('MullerMedium.eot?#iefix') format('embedded-opentype'),
        url('MullerMedium.woff2') format('woff2'),
        url('MullerMedium.woff') format('woff'),
        url('MullerMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('MullerBold.eot');
    src: url('MullerBold.eot?#iefix') format('embedded-opentype'),
        url('MullerBold.woff2') format('woff2'),
        url('MullerBold.woff') format('woff'),
        url('MullerBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('MullerUltraLight.eot');
    src: url('MullerUltraLight.eot?#iefix') format('embedded-opentype'),
        url('MullerUltraLight.woff2') format('woff2'),
        url('MullerUltraLight.woff') format('woff'),
        url('MullerUltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}