.slider {
	padding-top: 240px;
	background: url(../img/backgrounds/bg__main.jpg) 0 -70px;
	z-index: 2;
	position: relative;
}

.slider__header {
	text-align: center;
}

.slider__header-head {
	color: #fff;
	text-transform: uppercase;
	@include font(bold);
	line-height: 1;
}
.slider__header-dev {
	color: #fff;

	line-height: 2.3;
	text-transform: uppercase;
	font-size: 20px;
	@include font(bold);
}

.slider__btn {
	padding-top: 30px;
	padding-bottom: 240px;
	.btn-link__text {
		@include font(bold);
	}
	.btn-link {
		padding: 20px 60px;

		&:active {
			.btn-link__text {
				color: #fff;
				@include font(bold);
			}
		}
	}
}