
body {
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
}
.home {
	background: url(../img/bg-main.jpg) no-repeat center center;
	background-size: cover;
	width: 100wv;
	height: 851px;
	header {
		.logo {
			margin-top: 19px;
			margin-left: 96px;
			float: left;
		}
		.navigation {
			float: right;
			margin-top: 10px;
			li {
				list-style: none;
				display: inline-block;
				margin: 15px 8px;
				a {
					text-decoration: none;
					font-size: 14px;
					color: #fff;
					-webkit-transition: 0.4s;
					-o-transition: 0.4s;
					transition: 0.4s;
					&:hover {
						color: #fc5f45;
					}
				}
			}
		}
	}
	.main-text {
		color: #fff;
		font-family: 'Libre Baskerville', serif;
		margin-top: 10%;
		h1 {
			font-size: 60px;
		}
		button {
			font-weight: 600;
			font-family: 'Poppins', sans-serif;
			background: #fc5f45;
			border: none;
			outline: none;
			text-transform: uppercase;
			margin-top: 40px;
			padding: 18px 40px;
			-webkit-border-radius: 50px;
			-moz-border-radius: 50px;
			-ms-border-radius: 50px;
			-o-border-radius: 50px;
			border-radius: 50px;
			-webkit-transition: all 0.2s;
			-o-transition: all 0.2s;
			transition: all 0.2s;
			&:hover {
				-webkit-transform: scale(1.1);
				-ms-transform: scale(1.1);
				-o-transform: scale(1.1);
				transform: scale(1.1);
			}
		}
	}
	.block-three {
		margin-top: 80px;
		display: flex;
		justify-content: center;
		p {
			font-size: 18px;
			text-transform: uppercase;
			margin-top: 38px;
		}
		&-1 {
			flex-basis: 200px;
			color: #38c695;
		}
		&-2 {
			flex-basis: 150px;
			margin: 0 50px 100px;
			color: #b27cf5;
		}
		&-3 {
			flex-basis: 232px;
			color: #feb960;
		}
	}
}


.about {
	position: relative;
	margin-top: 150px;
	margin-bottom: 200px;
	&-text {
		h2 {
			font-family: 'Libre Baskerville', serif;
			font-size: 50px;
			color: #313131;
		 	font-weight: bold;
		}
		position: absolute;
		top: 60px;
		left: 50%;
		margin-left: -125px;
		height: 550px;
		width: 650px;
		background: #fff;
		padding: 85px 85px;
		padding-right: 0;
		p {
			font-size: 15px;
			color: #616161;
		}
	}
	.line {
		position: absolute;
		left: 50%;
		margin-left: -125px;
		bottom: 90px;
		width: 650px;
	}
}


.focus {
	margin-bottom: 10%;
	background: #f7f7f7;
	h2 {
		font-family: 'Libre Baskerville', serif;
		font-size: 50px;
		color: #313131;
		font-weight: bold;
	}
	p {
		font-size: 15px;
		color: #616161;
	}
	&-blocks {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		-o-justify-content: center;
		justify-content: center;
		text-align: center;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		&-two {
			
		}
		&-block {
			flex-basis: 250px;
			margin: 0 10px;
			padding-top: 60px;
			padding-bottom: 60px;
			-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
			box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
			&:hover {
				-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
				box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
			}
			img {
				-webkit-transition: all 0.3s;
				-o-transition: all 0.3s;
				transition: all 0.3s;
				&:hover {
					-webkit-transform: scale(1.1);
					-ms-transform: scale(1.1);
					-o-transform: scale(1.1);
					transform: scale(1.1);
				}
			}
			p {
				padding: 10px;
			}
		}
		.web {
			margin-top: 80px;
			border-bottom: 3px solid #fc5f45;
		}
		.ux {
			margin-top: 80px;
			border-bottom: 3px solid #38c695;
		}
		.photo {
			margin-top: 80px;
			border-bottom: 3px solid #b27cf5;
		}
		.app {
			margin-top: 80px;
			border-bottom: 3px solid #feb960;
		}
	}
}

/* porfolio */
.portfolio {
	margin-top: 150px;
	h2 {
		font-family: 'Libre Baskerville', serif;
		font-size: 50px;
		color: #313131;
		font-weight: bold;
	}
	p {
		font-size: 15px;
		color: #616161;
		margin-bottom: 3%;
	}
	.works-row {
		.work-box {
			position: relative;
			margin: 2%;
			-webkit-transition: all .3s;
			-o-transition: all .3s;
			transition: all .3s;
			&:hover {
				-webkit-transform: scale(1.03);
				-ms-transform: scale(1.03);
				-o-transform: scale(1.03);
				transform: scale(1.03);
			}
			img {
				width: 100%;
			}
			.signature {
				opacity: 0;
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			    color: #ffffff;
			    text-align: center;
			    display: -webkit-flex;
			    display: flex;
			    justify-content: center;
			    align-items: center;
			    -webkit-justify-content: center;
			    -webkit-align-items: center;
			    -webkit-transition: opacity 0.3s;
			    -o-transition: opacity 0.3s;
			    transition: opacity 0.3s;
			    &:hover {
			    	opacity: 1;
			    }
			    .sign {
			    	img {
			    		width: 61px;
			    		height: 61px;
			    	}
			    	
			    	p {
			    		/* position: absolute;
			    		bottom: 10%; */
			    	}
			    	.down-block {
			    		width: 100%;
			    		position: absolute;
			    		left: 0;
			    		background: #fff;
			    		bottom: 0;
			    		p {
			    			margin-top: 3%;
			    		}
			    		.portfolio-line {
				    		width: 100%;
				    		height: 3px;
				    		margin-bottom: 5%;
				    	}
			    	}

			    }
			}
		}
	}
}


/* team */

.team {
	background: #f7f7f7;
	margin-top: 10%;
	h2 {
		margin-top: 5%;
		font-family: 'Libre Baskerville', serif;
		font-size: 50px;
		color: #313131;
	 	font-weight: bold;
	}
	p {
		font-size: 15px;
		color: #616161;
		margin-bottom: 3%;
	}
	&-blocks {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		-o-justify-content: center;
		justify-content: center;
		&-two {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		&-team {
			margin: 10px;
			-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
			box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
			-webkit-transition: all 0.3s;
			-o-transition: all 0.3s;
			transition: all 0.3s;
			&:hover {
				-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.30);
				box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.30);
				-webkit-transform: scale(1.1);
				-ms-transform: scale(1.05);
				-o-transform: scale(1.05);
				transform: scale(1.05);
				cursor: pointer;
			}
			a {
				text-decoration: none;
			}
			h3 {
				font-size: 18px;
				text-align: center;
			}
			p {
				font-size: 13px;
				text-align: center;
				color: #616161;
			}
			.text-red {
				border-bottom: 3px solid #fc5f45;
				h3 {
					color: #fc5f45;
				}
			}
			.text-green {
				border-bottom: 3px solid #38c695;
				h3 {
					color: #38c695;
				}
			}
			.text-purpure {
				border-bottom: 3px solid #b27cf5;
				h3 {
					color: #b27cf5;
				}
			}
			.text-jellow {
				border-bottom: 3px solid #feb960;
				h3 {
					color: #feb960;
				}
			}

		}
	}
	.ab {
		background: url(../img/bg-ab-arrow.png) no-repeat;
		height: 314px;
		&-info {
			margin-top: 7%;
			&-left {
				h3 {
					font-size: 20px;
				}
				p {
					font-size: 15px;
					color: #616161;
				}
			}
			&-right {
				img {
					margin-top: 23%;
					margin-left: 15%;
				}
				ul {
					float: right;
					margin-top: 15%;
					margin-right: 20%;
					border-left: 1px solid #efefef;
					li {
						padding: 5px 0;
						list-style: none;
						-webkit-transition: all .3s;
						-o-transition: all .3s;
						transition: all .3s;
						&:hover {
							-webkit-transform: scale(1.02);
							-ms-transform: scale(1.02);
							-o-transform: scale(1.02);
							transform: scale(1.02);
						}
						a {
							padding-left: 5px;
							color: #616161;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}



/* stats */

.stats {
	margin-bottom: 10%;
	width: 100%;
	height: 467px;
	background: url(../img/bg-stats.jpg) no-repeat center;
	&-blocks {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		-o-justify-content: center;
		justify-content: center;
		&-stat {
			margin-top: 13%;
			font-family: 'Poppins', serif;
			color: #fefefe;
			h4 {
				font-size: 20px;
			}
			p {
				color: #bdbdc0;
				padding: 15px 0;
			}
		}
	}
}


/* Worksteps */

.worksteps {
	&-header {
		h2 {
			font-family: 'Libre Baskerville', serif;
			font-size: 50px;
			color: #313131;
		 	font-weight: bold;
		}
		p {
			font-size: 15px;
			color: #616161;
			margin-bottom: 3%;
		}
	}
	&-workstep {
		position: relative;
		&-1 {
			margin-top: 10%;
		}
		&-info {
			&-1 {
				position: absolute;
				left: 0;
				top: -40px;
				border-bottom: 3px solid #fc5f45;
				width: 460px;
				height: 90%;
				background: #fff;
				img {
					position: absolute;
					margin: 35px 25px;
				}
				&-text {
					padding: 37px 15px 51px 117px;
					h3 {
						font-size: 25px;
						color: #272727;
					}
					p {
						font-size: 15px;
						color: #616161;
					}
				}
			}
			&-2 {
				position: absolute;
				right: 0;
				top: -40px;
				border-bottom: 3px solid #38c695;
				width: 460px;
				height: 90%;
				background: #fff;
				img {
					position: absolute;
					margin: 35px 25px;
				}
				&-text {
					padding: 23px 53px 51px 127px;
					h3 {
						font-size: 25px;
						color: #272727;
					}
					p {
						font-size: 15px;
						color: #616161;
					}
				}
			}
			&-3 {
				position: absolute;
				left: 0;
				top: -40px;
				border-bottom: 3px solid #fc5f45;
				width: 460px;
				height: 90%;
				background: #fff;
				img {
					position: absolute;
					margin: 35px 25px;
				}
				&-text {
					padding: 23px 53px 51px 120px;
					h3 {
						font-size: 25px;
						color: #272727;
					}
					p {
						font-size: 15px;
						color: #616161;
					}
				}
			}
			&-4 {
				position: absolute;
				right: 0;
				top: -40px;
				border-bottom: 3px solid #fc5f45;
				width: 460px;
				height: 90%;
				background: #fff;
				img {
					position: absolute;
					margin: 35px 25px;
				}
				&-text {
					padding: 23px 53px 51px 127px;
					h3 {
						font-size: 25px;
						color: #272727;
					}
					p {
						font-size: 15px;
						color: #616161;
					}
				}
			}
		}
		&-img {
			text-align: center;
			width: 100%;
		}
	}
}

/* Pricing Table */

.pricing {
	margin-top: 15%;
	background: #f7f7f7;
	&-header {
		h2 {
			font-family: 'Libre Baskerville', serif;
			font-size: 50px;
			color: #313131;
		 	font-weight: bold;
		}
		p {
			font-size: 15px;
			color: #616161;
			margin-bottom: 3%;
		}
	}
	&-row {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		align-items: center;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	&-block {
		margin: 2%;
		height: 580px;
		width: 280px;
		-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
		box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
		-webkit-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
		&:hover {
			-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.20);
			box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.20);
			-webkit-transform: scale(1.03);
			-ms-transform: scale(1.03);
			-o-transform: scale(1.03);
			transform: scale(1.03);
		}
		h3 {
			font-family: 'Poppins', serif;
			color: #313131;
			margin-top: 12%;
		}
	}
	&-block-one {
		border-top: 3px solid #38c695;
		&:hover {
			-webkit-transform: t;
			-ms-transform: t;
			-o-transform: t;
			transform: t;
		}
		&-text {
			display: inline-block;
			padding: 25px 0;
			margin-top: 10%;
			margin-bottom: 10%;
			width: 115px;
			height: 115px;
			background: url(../img/pricing-bg-1.png) no-repeat center;
			color: #fff;
			font-size: 15px;
			font-family: 'Poppins', serif;
			span {
				font-size: 25px;
			}
		}
		ul {
			margin: 0;
			padding: 0;
			li {
				list-style: none;
				color: #616161;
				font-size: 15px;
				margin: 10px;
				span {
					color: #272727;
				}
				img {
					margin-right: 3%;
				}
			}
		}
		button {
			margin-top: 10%;
			text-transform: uppercase;
			outline: none;
			border: 2px solid #38c695;
			background: #38c695;
			-webkit-border-radius: 45px;
			-moz-border-radius: 45px;
			-ms-border-radius: 45px;
			-o-border-radius: 45px;
			border-radius: 45px;
			padding: 18px 35px;
			-webkit-transition: all .3s;
			-o-transition: all .3s;
			transition: all .3s;
			&:hover {
				background: #fff;
			}
			&:hover a {
				color: #38c695;
			}
			a {
				text-decoration: none;
				color: #fff;
				font-size: 16px;
				font-family: 'Poppins', serif;
				font-weight: 600;
			}
		}
	}
	&-block-two {
		border-top: 3px solid #fc5f45;
		&-text {
			display: inline-block;
			padding: 25px 0;
			margin-top: 10%;
			margin-bottom: 10%;
			width: 115px;
			height: 115px;
			background: url(../img/pricing-bg-2.png) no-repeat center;
			color: #fff;
			font-size: 15px;
			font-family: 'Poppins', serif;
			span {
				font-size: 25px;
			}
		}
		ul {
			margin: 0;
			padding: 0;
			li {
				list-style: none;
				color: #616161;
				font-size: 15px;
				margin: 10px;
				span {
					color: #272727;
				}
				img {
					margin-right: 3%;
				}
			}
		}
		button {
			margin-top: 10%;
			text-transform: uppercase;
			outline: none;
			border: 2px solid #fc5f45;
			background: #fc5f45;
			-webkit-border-radius: 45px;
			-moz-border-radius: 45px;
			-ms-border-radius: 45px;
			-o-border-radius: 45px;
			border-radius: 45px;
			padding: 18px 35px;
			-webkit-transition: all .3s;
			-o-transition: all .3s;
			transition: all .3s;
			&:hover {
				background: #fff;
			}
			&:hover a {
				color: #fc5f45;
			}
			a {
				text-decoration: none;
				color: #fff;
				font-size: 16px;
				font-family: 'Poppins', serif;
				font-weight: 600;
			}
		}
	}
	&-block-three {
		border-top: 3px solid #b27cf5;
		&-text {
			display: inline-block;
			padding: 25px 0;
			margin-top: 10%;
			margin-bottom: 10%;
			width: 115px;
			height: 115px;
			background: url(../img/pricing-bg-3.png) no-repeat center;
			color: #fff;
			font-size: 15px;
			font-family: 'Poppins', serif;
			span {
				font-size: 25px;
			}
		}
		ul {
			margin: 0;
			padding: 0;
			li {
				list-style: none;
				color: #616161;
				font-size: 15px;
				margin: 10px;
				span {
					color: #272727;
				}
				img {
					margin-right: 3%;
				}
			}
		}
		button {
			margin-top: 10%;
			text-transform: uppercase;
			outline: none;
			border: 2px solid #b27cf5;
			background: #b27cf5;
			-webkit-border-radius: 45px;
			-moz-border-radius: 45px;
			-ms-border-radius: 45px;
			-o-border-radius: 45px;
			border-radius: 45px;
			padding: 18px 35px;
			-webkit-transition: all .3s;
			-o-transition: all .3s;
			transition: all .3s;
			&:hover {
				background: #fff;
			}
			&:hover a {
				color: #b27cf5;
			}
			a {
				text-decoration: none;
				color: #fff;
				font-size: 16px;
				font-family: 'Poppins', serif;
				font-weight: 600;
			}
		}
	}
}

/* testimonials */

.testimonials {
	background: url(../img/bg-testimonial-2.jpg) center bottom;
	margin-top: 10%;
	&-header {
		margin-top: 6%;
		h2 {
			font-family: 'Libre Baskerville', serif;
			font-size: 50px;
			color: #fff;
		 	font-weight: bold;
		}
		p {
			font-size: 15px;
			color: #fff;
			margin-bottom: 3%;
		}
	}
	&-block {
		outline: none;
		&-img {
		}
		&-text {
			background: #fff;
			color: #616161;
			font-size: 15px;
			font-family: 'Poppins', serif;
			margin-top: 7%;
			border-bottom: 3px solid #fc5f45;
			p {
				padding: 36px 50px;
			}
			.sacramento {
				padding: 0 50px;
				margin: 0;
				font-family: 'Sacramento', cursive;
				font-size: 40px;
				color: #000;
			}
			.name {
				padding: 10px 50px;
				color: #272727;
				font-size: 18px;
				span {
					font-size: 13px;
					color: #fc5f45;
				}
			}
		}
	}
}

	
/* select */

.select {
	margin-top: 10%;
	&-header {
		h2 {
			font-family: 'Libre Baskerville', serif;
			font-size: 50px;
			color: #313131;
		 	font-weight: bold;
		}
		p {
			font-size: 15px;
			color: #616161;
			margin-bottom: 3%;
		}
	}
	&-row {
		margin-top: 3%;
		&-block {
			padding-top: 2%;
			margin-bottom: 3%;
			font-family: 'Poppins', serif;
			img {
				display: inline-block;
				margin-bottom: 3%;
				-webkit-transition: all .3s;
				-o-transition: all .3s;
				transition: all .3s;
				&:hover {
					-webkit-transform: scale(1.05);
					-ms-transform: scale(1.05);
					-o-transform: scale(1.05);
					transform: scale(1.05);
				}
			}
			h3 {
				font-size: 18px;
				color: #272727;
				display: inline-block;
				margin-left: 2%;
				margin-top: 0;			}
			p {
				font-size: 15px;
				color: #616161;
				margin-top: 3%;
			}
		}
	}
	&-button {
		margin-bottom: 5%;
		&-block {
			margin-top: -5%;
			span {
				font-size: 25px;
				color: #272727;
				margin-right: 2%;
			}
			button {
				margin-top: 10%;
				text-transform: uppercase;
				outline: none;
				border: 2px solid #fc5f45;
				background: #fc5f45;
				-webkit-border-radius: 45px;
				-moz-border-radius: 45px;
				-ms-border-radius: 45px;
				-o-border-radius: 45px;
				border-radius: 45px;
				padding: 15px 35px;
				-webkit-transition: all .3s;
				-o-transition: all .3s;
				transition: all .3s;
				&:hover {
					background: #fff;
				}
				&:hover a {
					color: #fc5f45;
				}
				a {
					text-decoration: none;
					color: #fff;
					font-size: 16px;
					font-family: 'Poppins', serif;
					font-weight: 600;
				}
			}
		}
	}
}


/* Blog */

.blog {
	margin-top: 10%;
	margin-bottom: 15%;
	&-header {
		h2 {
			font-family: 'Libre Baskerville', serif;
			font-size: 50px;
			color: #313131;
		 	font-weight: bold;
		}
		p {
			font-size: 15px;
			color: #616161;
			margin-bottom: 3%;
		}
	}
	&-block-one {
		-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
		box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
		&:hover {
			-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
			box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
		}
		&-img {
			position: relative;
			img {
				width: 100%;
			}
			p {
				display: block;
				position: absolute;
				bottom: 3%;
				left: 7%;
				color: #a6a6a6;
				font-size: 13px;
				span {
					color: #fc5f45;
					text-transform: uppercase;
					font-size: 15px;
					margin-right: 3%;
				}
			}
		}
		&-text {
			padding: 30px 50px 50px 50px;
			border-bottom: 3px solid #fc5f45;
			h3 {
				font-size: 20px;
				color: #272727;
			}
			p {
				font-size: 15px;
				color: #616161;
				a {
					color: #272727;
					text-decoration: none;
				}
			}
		}
	}
	&-blocks {
		padding: 30px 50px 50px 50px;
		height: 210px;
		-webkit-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
		-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
		box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
		&:hover {
			-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
			box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
		}
		h3 {
			font-size: 18px;
			color: #272727;
		}
	}
	&-block-two {
		margin-bottom: 15px;
		border-bottom: 3px solid #38c695;
		&-header {
			color: #a6a6a6;
			font-size: 13px;
			span {
				color: #38c695;
				text-transform: uppercase;
				font-size: 15px;
				margin-right: 3%;
			}
		}
		p {
			font-size: 15px;
			color: #616161;
			a {
				color: #272727;
				text-decoration: none;
			}
		}
	}
	&-block-three {
		margin-bottom: 15px;
		border-bottom: 3px solid #b27cf5;
		&-header {
			color: #a6a6a6;
			font-size: 13px;
			span {
				color: #b27cf5;
				text-transform: uppercase;
				font-size: 15px;
				margin-right: 3%;
			}
		}
		p {
			font-size: 15px;
			color: #616161;
			a {
				color: #272727;
				text-decoration: none;
			}
		}
	}
	&-block-four {
		border-bottom: 3px solid #feb960;
		&-header {
			color: #a6a6a6;
			font-size: 13px;
			span {
				color: #feb960;
				text-transform: uppercase;
				font-size: 15px;
				margin-right: 3%;
			}
		}
		p {
			font-size: 15px;
			color: #616161;
			a {
				color: #272727;
				text-decoration: none;
			}
		}
	}
}

/* subscribe */

.subscribe {
	margin-bottom: 10%;
	&-header {
		h2 {
			font-size: 30px;
			color: #272727;
		}
		form {
			margin-top: 3%;
			input {
				background: #f7f7f7;
				padding: 15px 30px;
				font-size: 16px;
				color: #616161;
				outline: none;
				border: 2px solid #efefef;
				-webkit-border-radius: 30px;
				-moz-border-radius: 30px;
				-ms-border-radius: 30px;
				-o-border-radius: 30px;
				border-radius: 30px;
				border-right: 0;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
			button {
				margin-left: -5px;
				background: #fc5f45;
				border: 2px solid #fc5f45;
				padding: 15px 30px;
				-webkit-border-radius: 30px;
				-moz-border-radius: 30px;
				-ms-border-radius: 30px;
				-o-border-radius: 30px;
				border-radius: 30px;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				-webkit-transition: all .3s;
				-o-transition: all .3s;
				transition: all .3s;
				&:hover {
					background: #fff;
					a {
						color: #fc5f45;
					}
				}
				a {
					text-decoration: none;
					text-transform: uppercase;
					font-size: 16px;
					color: #fff;
					font-weight: 600;
				}
			}
		}
	}
}


.get {
	height: 1175px;
	background: url(../img/bg-footer.jpg) no-repeat;
	&-header {
		margin-top: 10%;
		margin-bottom: 5%;
		h2 {
			font-family: 'Libre Baskerville', serif;
			font-size: 50px;
			color: #fff;
		 	font-weight: bold;
		}
		p {
			font-size: 15px;
			color: #fff;
			margin-bottom: 3%;
		}
	}
	&-form {
		font-size: 16px;
		color: #616161;
		font-family: 'Poppins', serif;
		input {
			width: 360px;
			height: 50px;
			text-align: center;
			outline: none;
			margin: 10px 0;
			border: 1px solid #efefef;
			-webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			-ms-border-radius: 7px;
			-o-border-radius: 7px;
			border-radius: 7px;
		}
		textarea {
			text-align: center;
			outline: none;
			width: 750px;
			height: 200px;
			padding: 10px 0;
			margin: 10px 0;
			border: 1px solid #efefef;
			-webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			-ms-border-radius: 7px;
			-o-border-radius: 7px;
			border-radius: 7px;
		}
		button {
				margin-top: 5%;
				text-transform: uppercase;
				outline: none;
				border: 1px solid #fc5f45;
				background: #fc5f45;
				-webkit-border-radius: 45px;
				-moz-border-radius: 45px;
				-ms-border-radius: 45px;
				-o-border-radius: 45px;
				border-radius: 45px;
				padding: 15px 35px;
				-webkit-transition: all .3s;
				-o-transition: all .3s;
				transition: all .3s;
				&:hover {
					background: #fff;
				}
				&:hover a {
					color: #fc5f45;
				}
				a {
					text-decoration: none;
					color: #fff;
					font-size: 16px;
					font-family: 'Poppins', serif;
					font-weight: 600;
				}
			}
	}
	.footer {
		margin-top: 10%;
		&-blocks {
			background: rgba(33, 33, 43, .7);
			height: 225px;
			padding: 40px 30px;
			h4 {
				font-size: 18px;
			}
			p {
				font-size: 16px;
				padding-top: 20px;
			}
		}
		&-block-one {
			border-bottom: 3px solid #fc5f45;
			padding: 90px 60px;
		}
		&-block-two {
			border-bottom: 3px solid #38c695;
			h4 {
				color: #38c695;
			}
			p {
				color: #fef4f2;
			}
		}
		&-block-three {
			border-bottom: 3px solid #b27cf5;
			h4 {
				color: #b27cf5;
			}
			p {
				color: #fef4f2;
			}
		}
		&-block-four {
			border-bottom: 3px solid #feb960;
			h4 {
				color: #b27cf5;
			}
			ul {
				margin: 0;
				padding: 0;
				li {
					list-style: none;
					display: inline-block;
					padding: 28px 5px;
					-webkit-transition: all .3s;
					-o-transition: all .3s;
					transition: all .3s;
					&:hover {
						-webkit-transform: scale(1.1);
						-ms-transform: scale(1.1);
						-o-transform: scale(1.1);
						transform: scale(1.1);
					}
				}
			}
		}
	}
}