body {
  font-family: 'Poppins', sans-serif;
  width: 100vw;
}
.home {
  background: url(../img/bg.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 851px;
}
.home header .logo {
  margin-top: 19px;
  margin-left: 96px;
  float: left;
}
.home header .navigation {
  float: right;
  margin-top: 10px;
}
.home header .navigation li {
  list-style: none;
  display: inline-block;
  margin: 15px 8px;
}
.home header .navigation li a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.home header .navigation li a:hover {
  color: #fc5f45;
}
.home .main-text {
  color: #fff;
  font-family: 'Libre Baskerville', serif;
  margin-top: 10%;
}
.home .main-text h1 {
  font-size: 60px;
}
.home .main-text button {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  background: #fc5f45;
  border: none;
  outline: none;
  text-transform: uppercase;
  margin-top: 40px;
  padding: 18px 40px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.home .main-text button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.home .block-three {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
.home .block-three p {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 38px;
}
.home .block-three-1 {
  flex-basis: 200px;
  color: #38c695;
}
.home .block-three-2 {
  flex-basis: 150px;
  margin: 0 50px 100px;
  color: #b27cf5;
}
.home .block-three-3 {
  flex-basis: 232px;
  color: #feb960;
}
.about {
  position: relative;
  margin-top: 150px;
  margin-bottom: 200px;
}
.about-text {
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -125px;
  height: 550px;
  width: 650px;
  background: #fff;
  padding: 85px 85px;
  padding-right: 0;
}
.about-text h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 50px;
  color: #313131;
  font-weight: bold;
}
.about-text p {
  font-size: 15px;
  color: #616161;
}
.about .line {
  position: absolute;
  left: 50%;
  margin-left: -125px;
  bottom: 90px;
  width: 650px;
}
.focus {
  margin-bottom: 10%;
}
.focus h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 50px;
  color: #313131;
  font-weight: bold;
}
.focus p {
  font-size: 15px;
  color: #616161;
}
.focus-blocks {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  text-align: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.focus-blocks-block {
  flex-basis: 250px;
  margin: 0 10px;
  padding-bottom: 60px;
}
.focus-blocks-block img {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.focus-blocks-block img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.focus-blocks-block p {
  padding: 10px;
}
.focus-blocks .web {
  margin-top: 140px;
  border-bottom: 3px solid #fc5f45;
}
.focus-blocks .ux {
  margin-top: 140px;
  border-bottom: 3px solid #38c695;
}
.focus-blocks .photo {
  margin-top: 140px;
  border-bottom: 3px solid #b27cf5;
}
.focus-blocks .app {
  margin-top: 140px;
  border-bottom: 3px solid #feb960;
}
/* porfolio */
.portfolio {
  margin-top: 150px;
}
.portfolio h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 50px;
  color: #313131;
  font-weight: bold;
}
.portfolio p {
  font-size: 15px;
  color: #616161;
  margin-bottom: 3%;
}
.portfolio .works-row .work-box {
  position: relative;
  margin: 2%;
}
.portfolio .works-row .work-box img {
  width: 100%;
}
.portfolio .works-row .work-box .signature {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.portfolio .works-row .work-box .signature:hover {
  opacity: 1;
}
.portfolio .works-row .work-box .signature .sign img {
  width: 61px;
  height: 61px;
}
.portfolio .works-row .work-box .signature .sign p {
  /* position: absolute;
			    		bottom: 10%; */
}
.portfolio .works-row .work-box .signature .sign .down-block {
  width: 100%;
  position: absolute;
  left: 0;
  background: #fff;
  bottom: 0;
}
.portfolio .works-row .work-box .signature .sign .down-block p {
  margin-top: 3%;
}
.portfolio .works-row .work-box .signature .sign .down-block .portfolio-line {
  width: 100%;
  height: 3px;
  margin-bottom: 5%;
}
/* team */
.team {
  background: #f7f7f7;
  margin-top: 10%;
}
.team h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 50px;
  color: #313131;
  font-weight: bold;
}
.team p {
  font-size: 15px;
  color: #616161;
  margin-bottom: 3%;
}
.team img {
  width: 263px;
  height: 240px;
}
.team-blocks {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
.team-blocks-two {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.team-blocks-team {
  margin: 10px;
}
.team-blocks-team h3 {
  font-size: 18px;
  text-align: center;
}
.team-blocks-team p {
  font-size: 13px;
  text-align: center;
  color: #616161;
}
.team-blocks-team .text-red {
  border-bottom: 3px solid #fc5f45;
}
.team-blocks-team .text-red h3 {
  color: #fc5f45;
}
.team-blocks-team .text-green {
  border-bottom: 3px solid #38c695;
}
.team-blocks-team .text-green h3 {
  color: #38c695;
}
.team-blocks-team .text-purpure {
  border-bottom: 3px solid #b27cf5;
}
.team-blocks-team .text-purpure h3 {
  color: #b27cf5;
}
.team-blocks-team .text-jellow {
  border-bottom: 3px solid #feb960;
}
.team-blocks-team .text-jellow h3 {
  color: #feb960;
}
/* stats */
.stats {
  margin-top: 15%;
  margin-bottom: 10%;
  width: 100%;
  height: 467px;
  background: url(../img/bg-stats.jpg) no-repeat center;
}
.stats-blocks {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
.stats-blocks-stat {
  margin-top: 13%;
  font-family: 'Poppins', serif;
  color: #fefefe;
}
.stats-blocks-stat h4 {
  font-size: 20px;
}
.stats-blocks-stat p {
  color: #bdbdc0;
  padding: 15px 0;
}
