body {
	font-family: 'Poppins', sans-serif;
}
.home {
	background: url(../img/bg.jpg) no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 851px;
	header {
		.logo {
			margin-top: 19px;
			margin-left: 96px;
			float: left;
		}
		.navigation {
			float: right;
			margin-top: 10px;
			li {
				list-style: none;
				display: inline-block;
				margin: 15px 8px;
				a {
					text-decoration: none;
					font-size: 14px;
					color: #fff;
					-webkit-transition: 0.4s;
					-o-transition: 0.4s;
					transition: 0.4s;
					&:hover {
						color: #fc5f45;
					}
				}
			}
		}
	}
	.main-text {
		color: #fff;
		font-family: 'Libre Baskerville', serif;
		margin-top: 10%;
		h1 {
			font-size: 60px;
		}
		button {
			font-weight: 600;
			font-family: 'Poppins', sans-serif;
			background: #fc5f45;
			border: none;
			outline: none;
			text-transform: uppercase;
			margin-top: 40px;
			padding: 18px 40px;
			-webkit-border-radius: 50px;
			-moz-border-radius: 50px;
			-ms-border-radius: 50px;
			-o-border-radius: 50px;
			border-radius: 50px;
			-webkit-transition: all 0.2s;
			-o-transition: all 0.2s;
			transition: all 0.2s;
			&:hover {
				-webkit-transform: scale(1.1);
				-ms-transform: scale(1.1);
				-o-transform: scale(1.1);
				transform: scale(1.1);
			}
		}
	}
	.block-three {
		margin-top: 80px;
		display: flex;
		justify-content: center;
		p {
			font-size: 18px;
			text-transform: uppercase;
			margin-top: 38px;
		}
		&-1 {
			flex-basis: 200px;
			color: #38c695;
		}
		&-2 {
			flex-basis: 150px;
			margin: 0 50px 100px;
			color: #b27cf5;
		}
		&-3 {
			flex-basis: 232px;
			color: #feb960;
		}
	}
}


.about {
	position: relative;
	margin-top: 150px;
	margin-bottom: 200px;
	&-text {
		h2 {
			font-family: 'Libre Baskerville', serif;
			font-size: 50px;
			color: #313131;
		 	font-weight: bold;
		}
		position: absolute;
		top: 60px;
		left: 50%;
		margin-left: -125px;
		height: 550px;
		width: 650px;
		background: #fff;
		padding: 85px 85px;
		padding-right: 0;
		p {
			font-size: 15px;
			color: #616161;
		}
	}
	.line {
		position: absolute;
		left: 50%;
		margin-left: -125px;
		bottom: 90px;
		width: 650px;
	}
}


.focus {
	margin-bottom: 10%;
	background: #f7f7f7;
	h2 {
		font-family: 'Libre Baskerville', serif;
		font-size: 50px;
		color: #313131;
		font-weight: bold;
	}
	p {
		font-size: 15px;
		color: #616161;
	}
	&-blocks {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		-o-justify-content: center;
		justify-content: center;
		text-align: center;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		&-two {
			
		}
		&-block {
			flex-basis: 250px;
			margin: 0 10px;
			padding-top: 60px;
			padding-bottom: 60px;
			-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
			box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
			&:hover {
				-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
				box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
			}
			img {
				-webkit-transition: all 0.3s;
				-o-transition: all 0.3s;
				transition: all 0.3s;
				&:hover {
					-webkit-transform: scale(1.1);
					-ms-transform: scale(1.1);
					-o-transform: scale(1.1);
					transform: scale(1.1);
				}
			}
			p {
				padding: 10px;
			}
		}
		.web {
			margin-top: 80px;
			border-bottom: 3px solid #fc5f45;
		}
		.ux {
			margin-top: 80px;
			border-bottom: 3px solid #38c695;
		}
		.photo {
			margin-top: 80px;
			border-bottom: 3px solid #b27cf5;
		}
		.app {
			margin-top: 80px;
			border-bottom: 3px solid #feb960;
		}
	}
}

/* porfolio */
.portfolio {
	margin-top: 150px;
	h2 {
		font-family: 'Libre Baskerville', serif;
		font-size: 50px;
		color: #313131;
		font-weight: bold;
	}
	p {
		font-size: 15px;
		color: #616161;
		margin-bottom: 3%;
	}
	.works-row {
		.work-box {
			position: relative;
			margin: 2%;
			-webkit-transition: all .3s;
			-o-transition: all .3s;
			transition: all .3s;
			&:hover {
				-webkit-transform: scale(1.03);
				-ms-transform: scale(1.03);
				-o-transform: scale(1.03);
				transform: scale(1.03);
			}
			img {
				width: 100%;
			}
			.signature {
				opacity: 0;
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			    color: #ffffff;
			    text-align: center;
			    display: -webkit-flex;
			    display: flex;
			    justify-content: center;
			    align-items: center;
			    -webkit-justify-content: center;
			    -webkit-align-items: center;
			    -webkit-transition: opacity 0.3s;
			    -o-transition: opacity 0.3s;
			    transition: opacity 0.3s;
			    &:hover {
			    	opacity: 1;
			    }
			    .sign {
			    	img {
			    		width: 61px;
			    		height: 61px;
			    	}
			    	
			    	p {
			    		/* position: absolute;
			    		bottom: 10%; */
			    	}
			    	.down-block {
			    		width: 100%;
			    		position: absolute;
			    		left: 0;
			    		background: #fff;
			    		bottom: 0;
			    		p {
			    			margin-top: 3%;
			    		}
			    		.portfolio-line {
				    		width: 100%;
				    		height: 3px;
				    		margin-bottom: 5%;
				    	}
			    	}

			    }
			}
		}
	}
}


/* team */

.team {
	background: #f7f7f7;
	margin-top: 10%;
	h2 {
		font-family: 'Libre Baskerville', serif;
		font-size: 50px;
		color: #313131;
	 	font-weight: bold;
	}
	p {
		font-size: 15px;
		color: #616161;
		margin-bottom: 3%;
	}
	&-blocks {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		-o-justify-content: center;
		justify-content: center;
		&-two {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		&-team {
			margin: 10px;
			-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
			box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
			-webkit-transition: all 0.3s;
			-o-transition: all 0.3s;
			transition: all 0.3s;
			&:hover {
				-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.30);
				box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.30);
				-webkit-transform: scale(1.1);
				-ms-transform: scale(1.05);
				-o-transform: scale(1.05);
				transform: scale(1.05);
				cursor: pointer;
			}
			a {
				text-decoration: none;
			}
			h3 {
				font-size: 18px;
				text-align: center;
			}
			p {
				font-size: 13px;
				text-align: center;
				color: #616161;
			}
			.text-red {
				border-bottom: 3px solid #fc5f45;
				h3 {
					color: #fc5f45;
				}
			}
			.text-green {
				border-bottom: 3px solid #38c695;
				h3 {
					color: #38c695;
				}
			}
			.text-purpure {
				border-bottom: 3px solid #b27cf5;
				h3 {
					color: #b27cf5;
				}
			}
			.text-jellow {
				border-bottom: 3px solid #feb960;
				h3 {
					color: #feb960;
				}
			}

		}
	}
	.ab {
		background: url(../img/bg-ab-arrow.png) no-repeat;
		height: 314px;
		&-info {
			margin-top: 7%;
			&-left {
				h3 {
					font-size: 20px;
				}
				p {
					font-size: 15px;
					color: #616161;
				}
			}
			&-right {
				img {
					margin-top: 23%;
					margin-left: 15%;
				}
				ul {
					float: right;
					margin-top: 15%;
					margin-right: 20%;
					border-left: 1px solid #efefef;
					li {
						padding: 5px 0;
						list-style: none;
						-webkit-transition: all .3s;
						-o-transition: all .3s;
						transition: all .3s;
						&:hover {
							-webkit-transform: scale(1.02);
							-ms-transform: scale(1.02);
							-o-transform: scale(1.02);
							transform: scale(1.02);
						}
						a {
							padding-left: 5px;
							color: #616161;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}



/* stats */

.stats {
	margin-top: 15%;
	margin-bottom: 10%;
	width: 100%;
	height: 467px;
	background: url(../img/bg-stats.jpg) no-repeat center;
	&-blocks {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		-o-justify-content: center;
		justify-content: center;
		&-stat {
			margin-top: 13%;
			font-family: 'Poppins', serif;
			color: #fefefe;
			h4 {
				font-size: 20px;
			}
			p {
				color: #bdbdc0;
				padding: 15px 0;
			}
		}
	}
}
